{% for item in section.item_set.all %}
    <li class="{% cycle '' 'shaded' %}" id="{{ item.id }}">
        <div class="controls">
            <a class="delete" href="{% url dashboard_delete_item item.id %}"><img src="{{ MEDIA_URL }}img/delete.png" /></a>
            <a href="{% url dashboard_edit_item item.id %}"><img src="{{ MEDIA_URL }}img/page_white_edit.png" /></a>
            {# <a class="stock out-of-stock" href=""><input type="checkbox" /> Out of stock</span></a> #}
        </div>
        {{ item }}
        <em>
        {% for variant in item.variant_set.all %}
            {% if forloop.first and forloop.last %}
                ${{ variant.price|floatformat:2 }}
            {% else %}
                {{ variant.description }}: ${{ variant.price|floatformat:2 }} {% if not forloop.last %} / {% endif %}
            {% endif %}
        {% endfor %}
        </em>
    </li>
{% empty %}
    <li>You don't have any menu items in this section.</li>
{% endfor %}
