html, body {height:100%}
ul {list-style-type:none;}
#masthead {height:100px; width:100%;}
#menuWrap {width:100%; height:36px; margin-bottom: 15px;}
.wrapper{min-height: 100%; height: auto !important; height: 100%; margin-bottom: -50px;}
div.shim{height: 50px; clear: both;}
.footer{width:100%; position: relative; margin-top: -50px; height: 50px; clear: both;}
.footer p{text-align: center;}
body {background: url(../img/dashboard_bg.png); font-size:16px;}
ul.menu{margin:0; font-size:14px;}
ul.menu li{float:left;margin:0;position:relative;}
ul.menu li a{text-decoration:none;display:block;padding:8px 15px 5px 15px; margin:0;}
ul.menu li a:hover{background-color:white; color:#004c00;}
ul.menu li:hover div{display:block;}
ul.menu li div{display:none;position:absolute;left:0;top:28px;z-index:1000; border:2px black solid;}
ul.menu li ul {margin:0;width:179px;padding:0;overflow:auto;}
ul.menu li ul li{float:none;margin:0;padding:0;font-weight:normal;}
ul.menu li ul li a{display:block; padding:5px;}
ul.menu li ul li a:hover{background-color:#004c00; color:white;}

#orderForm ul {list-style-type:none;}
#orderForm li {display:inline;}

.footer {border-top:1px grey solid; font-size:14px;}
#menuWrap {border-bottom:1px black solid;}
#main {padding:15px; background-color:white; border:1px grey solid; margin-bottom:15px;}
#menu ul li div {background-color:#e0e3dc;}
a {color:#004c00;}
a.lightlink {color:white;}

a.buttonTop, a.add-row, a.delete-row {
    background-color:#004c00;
    color:white;
    display:block;
    font-size:18px;
    font-weight:bold;
    padding:6px 9px 6px 9px;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    float:right;
    margin-right:10px;
}

#menuWrap, .footer, #menu ul li ul li a:hover, a.buttonTop, a.add-row, a.delete-row {
    background-color: #004c00;
    background-image: -moz-linear-gradient(90deg, #004c00, #009800);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#004c00), to(#009800));
}
a.buttonTop:hover, a.add-row:hover, a.delete-row:hover {
    background-color: #004c00;
    background-image: -moz-linear-gradient(90deg, #009800, #004c00);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#009800), to(#004c00));
}

a.buttonTop.last {
    margin-right:0;
}

input, select, textarea {border:1px solid grey; font-family:Arial; font-size:16px; background-color:white;}
input:focus, select:focus, textarea:focus {background-color:#cde0e8; border-color:black;}

ul.errorlist {background-color:pink; color:red; border: 1px solid red; margin-bottom:1px;}

ul.drag {margin:0; padding:0;}
ul.drag li {margin:0 0 10px 0; padding:12px;}
ul.drag.sections li, #variantForms div, #upgradeForms div, p.usage {background-color:#bfb7a9; border:1px solid grey; color:#635d50;}
ul.drag li p {font-size:14px; margin-bottom:0;}
ul.drag li a, a.add-row, a.delete-row {font-size:12px; padding:3px 6px;}
ul.drag.items li, ul.drag.sections li.selected {background-color:#cde0e8; color:#02405a; border:black solid 1px;}
ul.drag h3 {margin-bottom:0;}

ul.items ul {margin:0; padding:5px 0 0;}
ul.items li li {border:none; font-style:italic; font-size:13px; margin:0; padding:0;}
span.pricing {font-size:13px;}

label {display:block; margin-bottom:13px;}
textarea {width:377px; padding:4px;}

label.price {float:right;}
label.price input {width:40px;}

#variantForms div, #upgradeForms div {padding:15px; margin-bottom:10px;}
#variantForms label, #upgradeForms label {font-size:14px;}
a.delete-row {margin:20px auto auto 20px;}

p.subscribers {background-color:#cde0e8; color:#02405a; border:black solid 1px;}
p.subscribers, p.usage {padding:10px;}

#subscribers {width:100%; font-size:13px;}
#subscribers thead {color:white; background-color:#02405a;}
#subscribers tr.shaded {background-color:#cde0e8;}
#subscribers {margin-bottom:0;}
#subscribers th a {color:white;text-decoration:none;}

div.pagination {text-align:center; font-size:14px; padding:8px; color:#635d50;}
