html, body {height:100%; font-size:14px;}
a:focus {outline:none;}
#masthead {height:100px; width:100%;}
#menuWrap {width:100%; height:36px; margin-bottom: 15px;}
#mainWrap, #sidebarWrap {margin-bottom:15px;}
.wrapper{min-height: 100%; height: auto !important; height: 100%; margin-bottom: -50px;}
div.shim{height: 50px; clear: both;}
.footer{width:100%; position: relative; margin-top: -45px; height: 45px; clear: both; padding:20px 0;}
.footer address {text-align:center; margin-bottom:5px;}
.footer p{text-align: center; font-size:12px;}

#search h4 {
    margin:15px 0 0;
}

h1 {clear:right;}
#menu ul{margin:0; list-style-type:none;}
#menu ul li{float:left;margin:0;position:relative;}
#menu ul li a{text-decoration:none;display:block;padding:8px 15px 5px 15px; margin:0;}
#menu ul li:hover div{display:block;}
#menu ul li div{display:none;position:absolute;left:0;top:30px;z-index:1000;}
#menu ul li ul {margin:0;width:179px;padding:0;overflow:auto;}
#menu ul li ul li{float:none;margin:0;padding:0;font-weight:normal;}
#menu ul li ul li a{display:block; padding:5px;}
#menuitems {list-style-type:none;}
#menuitems h4 {margin-bottom:0;}
#menuitems li {margin:0; padding:10px;}
#menuitems li p {margin-bottom:0; padding-bottom:0;}
#menuitems ul {float:right; list-style-type:none; margin-bottom:5px;clear:right;}
#menuitems ul li {display:inline; font-style:italic; padding-right:0;}

div.prices {text-align:right;}
a.add {
    display:block; 
    width:78px;
    font-size:10px !important;
    padding:2px 4px;
    float:right;
}

#orderForm {clear:both;}
#orderForm ul {list-style-type:none; margin-bottom:10px;}
#orderForm li {display:inline; margin-left:0;}
#orderForm #qty {float:left; margin-bottom:10px;}
#orderForm .upgrades {clear:left;}
#orderForm .upgrades li {display:block;}
#orderForm span.totalPrice {float:right; font-size:16px;}
#id_quantity {width:30px;}
#id_notes {width:300px;}
#orderPreview {width:100%; font-size:14px;}
#orderPreview td {text-align:right;}
#orderPreview td.item {width:70%; text-align:left;}

.messages, .errorlist {list-style-type:none;}
.errorlist {margin:15px 0 0;}
.messages li, .errorlist li {
    border:1px solid;
    margin-left:0;
    padding:6px;
}
.errorlist li {
color:#67202d;background-color:#ffbfbf;border-color:#67202d;
}
.messages li.success {color:green;background-color:#d3ead3;border-color:green;}
.messages li.warning {color:#704308;background-color:#f9f7c3;border-color:#704308;}

a.button {float:right; display:block;}

img.inset-left {float:left; margin:0 10px 8px 0;}
img.inset-right {float:right; margin:0 0 8px 10px;}

span.veg {
    text-transform:uppercase; 
    font-size:10px;
    font-weight:bold;
    color:white;
    background-color:green;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    padding:2px;
    margin-bottom:2px;
    vertical-align:middle;
    font-family: Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
h4 a {
    vertical-align:middle;
}
span.pepper {
    color:#9e3321;
    font-size:22px;
    padding:0;
    line-height:0.6;
}
dl dd, dl dt {display:inline;}
dl dd {margin-right:10px;}
