{% extends 'dashboard/menu/menu_object_base.html' %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block help %}
{% if object %}
<p>Edit the description of this item below, or click "Edit options" to change prices, side dishes, and extras for this item.</p>
{% else %}
<p>Give this menu item a name and a description, choose the appropriate menu classifiers (vegetarian or spicy), and set its taxability status. You can also add an image from your image library. You'll be able to set up prices, side dishes, and extras for it after saving.</p>
{% endif %}
{% endblock %}

{% block content %}
{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}
<form method="POST" action=".">
{% if form.name.errors %}
{{ form.name.errors }}
{% endif %}
<label>{{ form.name.label }}<br />
{{ form.name }}
</label>
{% if form.description.errors %}
{{ form.description.errors }}
{% endif %}
<label>{{ form.description.label }}<br />
{{ form.description }}
</label>
{% if form.section.errors %}
{{ form.section.errors }}
{% endif %}
<label>{{ form.section.label }}<br />
{{ form.section }}
</label>
{% if form.special.errors %}
{{ form.special.errors }}
{% endif %}
<label>{{ form.special }}
{{ form.special.label }}
</label>
<label>{{ form.spicy }}
{{ form.spicy.label }}
</label>
<label>{{ form.vegetarian }}
{{ form.vegetarian.label }}
</label>
<label>{{ form.taxable }}
{{ form.taxable.label }}
</label>
{% if form.image.errors %}
{{ form.image.errors }}
{% endif %}
<label>Choose an image for this item (optional):<br />
{{ form.image }}
</label>
{% endblock %}
