{% extends 'dashboard/menu/item_form_base.html' %}

{% block help %}
FIXME
{% endblock %}

{% block object_info %}
{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}
<form method="POST" action=".">
{% if form.name.errors %}
{{ form.name.errors }}
{% endif %}
<label>{{ form.name.label }}<br />
{{ form.name }}
</label>
{% if form.description.errors %}
{{ form.description.errors }}
{% endif %}
<label>{{ form.description.label }}<br />
{{ form.description }}
</label>
{% if form.section.errors %}
{{ form.section.errors }}
{% endif %}
<label>{{ form.section.label }}<br />
{{ form.section }}
</label>
{% if form.special.errors %}
{{ form.special.errors }}
{% endif %}
<label>{{ form.special }}
{{ form.special.label }}
</label>
<label>{{ form.spicy }}
{{ form.spicy.label }}
</label>
<label>{{ form.vegetarian }}
{{ form.vegetarian.label }}
</label>
{% if form.image.errors %}
{{ form.image.errors }}
{% endif %}
<label>Choose an image for this item (optional):<br />
{{ form.image }}
</label>
<div class="clear"></div>
<a class="buttonTop last" href="{% url dashboard_menu %}">Cancel</a>
<a class="buttonTop submit" href="#">Save</a>
{% endblock %}

{% block pricepoints %}
{% if object %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block sides %}
{% if object %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block extras %}
{% if object %}
{{ block.super }}
{% endif %}
{% endblock %}
