{% extends 'dashboard/menu/item_form_base.html' %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.formset.js"></script>
{% endblock %}

{% block pricepoints %}
<p>Set your prices for this item (for example, small, medium, and large).</p>
<form method="POST">
{% if variant_formset.non_form_errors %}
<ul class="errorlist">
{% for e in variant_formset.non_form_errors %}
    <li>{{ e }}</li>
{% endfor %}
{% endif %}
    <div id="variantForms">
    {% for form in formset.forms %}
        {% if form.description.errors %}
        {{ form.description.errors }}
        {% endif %}
        {% if form.price.errors %}
        {{ form.price.errors }}
        {% endif %}
        <div>
            <label class="price">{{ form.price.label }}:<br /> ${{ form.price }}</label>
            <label>{{ form.description.label }}:<br />
            {{ form.description }}</label>
        {{ form.id }}
        {{ form.DELETE.as_hidden }}
        </div>
    {% endfor %}
    </div>
{{ formset.management_form }}
    <div class="clear"></div>
    <a class="buttonTop submit last" href="#">Save</a>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("a.submit").click(function () {
        $("form").submit();
    });
    $('#variantForms div').formset({
        formCssClass: 'variant-formset',
    });
});
</script>
{% endblock %}
