{% extends 'dashboard/menu/section_form_base.html' %}

{% block section_info %}
<p>Give this menu section a name and a description.</p>
<form method="POST">
    {{ form }} 
    <div class="clear"></div>
    <a class="buttonTop submit last" href="#">Save</a>
</form>
{% endblock %}

{% block pricepoints %}
{% if section %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block sides %}
{% if section %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block extras %}
{% if section %}
{{ block.super }}
{% endif %}
{% endblock %}
