{% extends 'dashboard/restaurant/home.html' %}

{% block body-class %}{{ block.super }}menu{% endblock %}

{% block h2 %}Menu management{% endblock %}

{% block help %}
<p>This is where you create and manage your menu sections.</p>
<p>You can reorder menu items within a section by dragging them to the desired position in the list.</p>
<p>You can also change the order of menu sections by dragging the top of the menu section to the desired position.</p>
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<style>
div.sections {clear:right;}
ul.section {font-size:13px; border:1px solid gray;}
ul.section ul {margin-bottom:0;}
ul.section li {margin:0;}
li.section-header {color:white; background-color:#02405a; font-size:14px; padding:5px;}
li.menu-items li {
    padding:1px;
    background-color:white;
}
li.menu-items li span, li.menu-items li em{display: block;padding: 2px 0;}
li.menu-items li.shaded {background-color:#cde0e8;}
div.controls {float:right; clear:right;}
div.controls a {
    float:right; 
    display:block; 
    color:#4b4b4b; 
    padding:0 5px; 
    text-decoration:none;
    margin:1px 2px;
    font-size:12px;
}
div.section-controls a {
    border: 1px grey solid; 
    background-color:#dedede;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
li.menu-items div.controls a {
    height:16px;
    width:16px;
}
li.menu-items div.controls.special {
    float:right;
    clear:none;
}
li.menu-items div.controls.special label {
    display:inline;
}
li.menu-items div.controls.special span, li.menu-items div.controls.special input {
    width:auto;
    display:none;
}
li.menu-items div.controls.special label.hover span, li.menu-items div.controls.special label.hover input {
    display:inline;
    vertical-align:middle;
}
li.menu-items div.controls.special span.out {
    display:inline;
    color:red;
    font-weight:bold;
}
li.menu-items div.controls.special span.archived {
    display:inline;
    color:grey;
    font-weight:bold;
}
li.menu-items ul li{cursor: move;}
</style>
{% endblock %}

{% block content %}
{# <div class="grid_12 alpha omega"> #}
    <a href="{% url dashboard_add_menu 'section' %}">New menu section</a>
    <div class="sections">
    {% for section in sections %}
    <ul class="section" id="{{ section.id }}">
        <li class="section-header">
            <div class="controls section-controls">
                <a id="newItem" href="{% url dashboard_add_menu 'item' %}?pk={{ section.id }}">New menu item</a>
                <a class="delete" href="{% url dashboard_delete_section section.id %}">Delete</a>
                <a href="{% url dashboard_edit_menu 'section', section.id %}">Edit</a>
            </div>
            {{ section.name }}
        </li>
        <li class="menu-items">
            <ul>
            {% include 'dashboard/includes/item_list.html' %}
            </ul>
        </li>
    </ul>
    {% empty %}
        You have not created any menu sections. <a href="{% url dashboard_add_section %}">Create one now</a>
    {% endfor %}
    </div>
{# </div> #}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("li.menu-items ul").sortable({
        stop: function(event, ui) { 
            $.post("items/reorder/", $.param({
                item_ids: $(this).sortable('toArray')
            }, true));
            $(this).children().filter(":odd").addClass("shaded");
            $(this).children().filter(":even").removeClass("shaded");
        },
        cancel: "a,label"
    });
    $("div.sections").sortable({
        stop: function(event, ui) { 
            $.post("sections/reorder/", $.param({
                section_ids: $(this).sortable('toArray')
            }, true));
        },
        cancel: "li.menu-items,a"
    });
    $("a.delete").live("click", function () {
        h3Text = $(this).parent().hasClass("section-controls") ? "section" : "item";
        c = confirm("Are you sure you want to delete this " + h3Text + "? This action cannot be undone.");
        if (!c)
            return false;
    });
    $("li.menu-items li").hover(
        function () { $(this).find("label").addClass("hover"); },
        function () { $(this).find("label").removeClass("hover"); }
    );
    $("div.controls.special input").click(function () {
        if (!$(this).attr("checked")) {
            $(this).next().removeClass($(this).parent().attr("class"));
        } else {
            $(this).next().addClass($(this).parent().attr("class"));
        }
        params = {};
        params[$(this).attr("name")] = $(this).attr("checked");
        $.post("{% url dashboard_flag_item %}", $.param(params));
    });
});
</script>
{% endblock %}
