{% extends 'dashboard/menu/menu_object_base.html' %}

{% block help %}
{% if object %}
<p>Edit the description of this section below, or click "Edit options" to change prices, side dishes, extras, and hours of availability for items in this section.</p>
{% else %}
<p>Give this menu section a name and a description. You'll be able to set up prices, side dishes, extras, and hours of availability for items in this section after saving.</p>
{% endif %}
{% endblock %}

{% block content %}
<form method="POST">
    {{ form }} 
    <div class="clear"></div>
    <div class="save-row clearfix">
    <a class="cancel" href="{% url dashboard_menu %}">Cancel</a>
    <input type="submit" value="Save" class="submit buttonTop" />
    </div>
</form>
{% endblock %}
