{% extends 'dashboard/restaurant/home.html' %}

{% block body-class %}{{ block.super }} location{% endblock %}

{% block h2 %}
Your locations
{% endblock %}

{% block help %}
FIXME
{% endblock %}

{% block content %}
<span class="buttons">
    <a href="{% url add_location %}">+ Add location</a>
</span>
<div class="clear"></div>
<ul id="published">
    {% for location in site.location_set.all %}
    <li>
        
        <h3>    
            {{ location.name }}
            <span class="buttons">
                <a class="delete" href="{% url delete_location location.id %}">delete</a>
                <a href="{% url edit_location location.id %}">edit</a>
            </span>
        </h3>
        <address>
        {% if location.address %}
        {{ location.street }}<br>
        {{ location.city }}, {{ location.state }} {{ location.zip }}
        {% else %}
        [your restaurant address]
        {% endif %}
        </address>
        <p>T: {% if location.phone %}{{ location.phone }}{% else %}[your phone number ]{% endif %}{% if location.fax %} | Fax: {{ location.fax }}{% endif %}</p>
        <p>{{ location.schedule.display|default:'[your restaurant hours]' }}</p>
        <div class="clear"></div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("a.delete").live("click", function () {
        h3Text = $(this).parent().hasClass("section-controls") ? "section" : "item";
        c = confirm("Are you sure you want to delete this " + h3Text + "? This action cannot be undone.");
        if (!c)
            return false;
    });
});
</script>
{% endblock %}
