{% extends 'dashboard/restaurant/home.html' %}

{% block body-class %}{{ block.super }}location{% endblock %}

{% block help %}
<p>We'll use the address that you enter here just about everywhere. It's listed on the homepage and footer of your website and is the location shown on the map on the "Find Us" page. We'll also include it in the footers of PDF menus.</p>
<p>Your timezone is important for making sure that online orders aren't placed outside of business hours.</p>
{% endblock %}

{% block h2 %}Edit your location{% endblock %}

{% block content %}

	<form method="POST" action=".">
        {% if form.non_field_errors %}
         {{ form.non_field_errors }}
        {% endif %}
    <label>{{ form.name.label }} {{ form.name.errors }}</label>
    {{ form.name }}
    {% if form.name.help_text %}
    <p class="help">{{ form.name.help_text }}</p> 
    {% endif %}
    <label>{{ form.street.label }} {{ form.street.errors }}</label>
    {{ form.street }}
    {% if form.street.help_text %}
    <p class="help">{{ form.street.help_text }}</p> 
    {% endif %}
    <div class="csz clearfix">
    {% for field in form.address_fields %}
        <div class="location">
        <label>{{ field.label }} {{ field.errors }}</label>
        {{ field }}
        </div>
    {% endfor %}
    </div>
    {% for field in form.non_address_fields %}
        <label>{{ field.label }} {{ field.errors }}</label>
        {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text }}</p> 
        {% endif %}
    {% endfor %}

<div class="clear"></div>
<div class="save-row clearfix">
<a class="cancel" href="{% url dashboard_menu %}">Cancel</a>
<input type="submit" value="Save" class="submit buttonTop" />
</div>
</form>
{% endblock %}

{% block js %}

{% endblock %}

