{% for item in section.item_set.all %}
    <li class="{% cycle '' 'shaded' %}" id="{{ item.id }}">
        <div class="controls">
            <a class="delete" href="{% url dashboard_delete_item item.id %}"><img src="{{ MEDIA_URL }}img/delete.png" /></a>
            <a href="{% url dashboard_edit_menu 'item', item.id %}"><img src="{{ MEDIA_URL }}img/page_white_edit.png" /></a>
        </div>
        <div class="controls special">
            <label class="archived">
                <input type="checkbox" name="archived-{{ item.id }}" {% if item.archived %}checked{% endif %} />
                <span{% if item.archived %} class="archived"{% endif %}>Archived</span>
            </label>
            <label class="out">
                <input type="checkbox" name="out_of_stock-{{ item.id }}" {% if item.out_of_stock %}checked{% endif %} />
                <span{% if item.out_of_stock %} class="out"{% endif %}>Out of stock</span>
            </label>
        </div>
        <span>{{ item }}</span>
        <em>
        {{ item.price_list|join:" / " }}
        </em>
    </li>
{% empty %}
    <li>You don't have any menu items in this section.</li>
{% endfor %}
