{% extends 'dashboard/base.html' %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.formset.js"></script>
{% endblock %}

{% block content %}
<h1>{% if form.initial|length %}Edit{% else %}Create a new{% endif %} menu item</h1>
{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}
<form method="POST" action=".">
<div class="grid_6 alpha">
<p class="help">Enter the menu text for this item below and flag it as a special if appropriate. On the right, you can define the price points and sizes for this menu item and any available upgrades or substitutions.  If there is only one price point for this item, just leave the description as "default".</p>
{% if form.name.errors %}
{{ form.name.errors }}
{% endif %}
<label>{{ form.name.label }}<br />
{{ form.name }}
</label>
{% if form.description.errors %}
{{ form.description.errors }}
{% endif %}
<label>{{ form.description.label }}<br />
{{ form.description }}
</label>
{% if form.section.errors %}
{{ form.section.errors }}
{% endif %}
<label>{{ form.section.label }}<br />
{{ form.section }}
</label>
{% if form.special.errors %}
{{ form.special.errors }}
{% endif %}
<label>{{ form.special }}
{{ form.special.label }}
</label>
{% if form.image.errors %}
{{ form.image.errors }}
{% endif %}
<label>{{ form.image.label }}<br />
{{ form.image }}
</label>
</div>
<div class="grid_6 omega">
<h4 class="variants">Price points</h4>
{% if variant_formset.non_form_errors %}
<ul class="errorlist">
{% for e in variant_formset.non_form_errors %}
    <li>{{ e }}</li>
{% endfor %}
</ul>
{% endif %}
<div id="variantForms">
{% for form in variant_formset.forms %}
    {% if form.description.errors %}
    {{ form.description.errors }}
    {% endif %}
    {% if form.price.errors %}
    {{ form.price.errors }}
    {% endif %}
    <div>
        <label class="price">{{ form.price.label }}:<br /> ${{ form.price }}</label>
        <label>{{ form.description.label }}:<br />
        {{ form.description }}</label>
    {{ form.id }}
    {{ form.DELETE.as_hidden }}
    </div>
{% endfor %}
</div>
{{ variant_formset.management_form }}
<div class="clear"></div>
<h4 class="upgrades">Upgrades & substitutions</h4>
<div id="upgradeForms">
{% for form in upgrade_formset.forms %}
    {% if form.name.errors %}
    {{ form.name.errors }}
    {% endif %}
    {% if form.price.errors %}
    {{ form.price.errors }}
    {% endif %}
    <div>
        <label class="price">{{ form.price.label }}:<br /> ${{ form.price }}</label>
        <label>{{ form.name.label }}:<br />
        {{ form.name }}</label>
        <label>{{ form.substitute }} {{ form.substitute.label }}</label>
    </div>
    {{ form.id }}
    {{ form.DELETE.as_hidden }}
{% endfor %}
</div>
{{ upgrade_formset.management_form }}
</div>
</form>
<div class="clear"></div>
<a class="buttonTop last" href="{% url dashboard_menu %}">Cancel</a>
<a class="buttonTop submit" href="#">Save</a>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("a.submit").click(function () {
        $("form").submit();
    });
    $('#variantForms div').formset({
        prefix: '{{ variant_formset.prefix }}',
        formCssClass: 'variant-formset',
        placeAddButton: function (snippet) {
            $("h4.variants").before(snippet);
            return $("h4.variants").prev();
        },
        placeDeleteButton: function (formrow, buttonHtml) {
            $(formrow).prepend(buttonHtml);
        }
    });
    $('#upgradeForms div').formset({
        prefix: '{{ upgrade_formset.prefix }}',
        formCssClass: 'upgrade-formset',
        placeAddButton: function (snippet) {
            $("h4.upgrades").before(snippet);
            return $("h4.upgrades").prev();
        },
        placeDeleteButton: function (formrow, buttonHtml) {
            $(formrow).prepend(buttonHtml);
        }
    });
});
</script>
{% endblock %}
