{% extends base %}
{% load content_tags %}

{% block showcase %}
{% get_showcase site page.slug %}
{% endblock %}

{% block content %}
<h1>{% get_title site page.slug %}</h1>
{% get_image site page.slug "medium" %}
{% get_body site page.slug %}
{# FIXME this is so dirty please make it stop #}
{% if page.slug == 'find-us' %}
    {% if site.location_set.count == 1 %}
        {% with site.location_set.all.0 as location %}
            <iframe width="590" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q={{ location.address|iriencode }}&amp;output=embed"></iframe><br />
        {% endwith %}
    {% else %}
        {% for location in site.location_set.all %}
        <h2 id="{{ location.id_attr }}">{{ location.name }}</h2>     
        <address>
        {% if location.address %}
        {{ location.street }}<br>
        {{ location.city }}, {{ location.state }} {{ location.zip }}
        {% else %}
        [your restaurant address]
        {% endif %}
        </address>
        <p>T: {% if location.phone %}{{ location.phone }}{% else %}[your phone number ]{% endif %}{% if location.fax %} | Fax: {{ location.fax }}{% endif %}</p>
        <p>{{ location.schedule.display|default:'[your restaurant hours]' }}</p>
        <iframe width="590" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q={{ location.address|iriencode }}&amp;output=embed"></iframe><br />
        {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}

