*.pyc
*.pyo
*.swp
*.db
.installed.cfg
.mr.developer.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src
tiger/media/cache
tiger/media/skins
tiger/media/pdfmenus
tiger/media/fonts
tiger/media/img/backgrounds/custom
tiger/media/img/logos
tiger/media/uploaded_images
