*.pyc
*.un~
*.DS_Store
*/.DS_Store
*.pyo
*.swp
*.db
.installed.cfg
.DS_Store
.mr.developer.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src
tiger/media/cache
tiger/media/skins
tiger/media/stork
tiger/media/pdfmenus
tiger/media/fonts
tiger/media/img/backgrounds
tiger/media/img/logos
tiger/media/uploaded_images
tiger/GeoLiteCity.dat
