[buildout]
extensions = mr.developer
parts = 
    python 
    django 
    reseller
    ops
sources = sources
auto-checkout =
    olwidget
    redis-cache
    redis-py
    django-poseur
    facebook
find-links = 
    http://dist.plone.org/thirdparty/
    https://github.com/rackspace/python-cloudfiles/tarball/1.7.2#egg=cloudfiles
    https://github.com/rozza/django-nose/tarball/master#egg=django-nose

[sources]
olwidget = git git://github.com/yourcelf/olwidget.git
redis-cache = git http://github.com/sebleier/django-redis-cache.git
redis-py = git http://github.com/andymccurdy/redis-py.git
django-poseur = git http://github.com/threadsafelabs/django-poseur.git
facebook = git git://github.com/facebook/python-sdk.git

[python]
recipe = zc.recipe.egg
interpreter = python
extra-paths =
    src/facebook/src
    src/olwidget/django-olwidget
    src/redis-py
    src/redis-cache
    src/django-poseur/src
eggs =
    South
    Whoosh
    authorize
    beautifulsoup
    cssmin
    cssutils
    django-celery
    django_compressor
    django-debug-toolbar
    django-filter
    django-haystack
    django-imagekit
    django-pagination
    django-paypal
    django-picklefield
    django-sorting
    greatape
    html5lib
    lxml
    markdown
    oauth2
    PIL
    pisa
    psycopg2==2.4.1
    pypdf
    pytz
    pysolr
    pyyaml
    reportlab
    suds
    twitter
    django-nose
    djangosanetesting
    python-faker
    coverage
    cloudfiles
    django-cumulus
    twilio==2.0.10
    mock
    should-dsl

[django]
recipe = djangorecipe
project = tiger
eggs = 
    ${python:eggs}
settings = dev_settings
extra-paths = ${python:extra-paths}
download-cache = django

[reseller]
recipe = djangorecipe
project = tiger
eggs = 
    ${python:eggs}
settings = reseller_settings
extra-paths = ${python:extra-paths}
wsgi = true
download-cache = django

[tiger]
recipe = djangorecipe
project = tiger
eggs = 
    ${python:eggs}
settings = tiger_settings
extra-paths = ${python:extra-paths}
wsgi = true
download-cache = django

[ops]
interpreter = python
recipe = zc.recipe.egg
eggs = 
    gunicorn
    fabric
extra-paths = ops/
