[buildout]
extensions = mr.developer
parts = 
    python 
    django 
    tiger
    reseller
sources = sources
auto-checkout =
    django-paypal
    olwidget
    redis-cache
    redis-py
    django-poseur
    facebook
find-links = 
    http://dist.plone.org/thirdparty/
    https://github.com/rackspace/python-cloudfiles/tarball/1.7.2#egg=cloudfiles
    https://github.com/rozza/django-nose/tarball/master#egg=django-nose



[sources]
django-paypal = git git://github.com/alliterativeanimal/django-paypal.git
olwidget = git git://github.com/yourcelf/olwidget.git
redis-cache = git http://github.com/sebleier/django-redis-cache.git
redis-py = git http://github.com/andymccurdy/redis-py.git
django-poseur = git http://github.com/alliterativeanimal/django-poseur.git
facebook = git git://github.com/facebook/python-sdk.git

[python]
recipe = zc.recipe.egg
interpreter = python
extra-paths =
    src/facebook/src
    src/django-paypal
    src/olwidget/django-olwidget
    src/redis-py
    src/redis-cache
    src/django-poseur/src
eggs =
    South
    Whoosh
    authorize
    cssmin
    cssutils
    django-celery
    django-debug-toolbar
    django-filter
    django-haystack
    django-imagekit
    django-pagination
    django-picklefield
    django-sorting
    fabric
    greatape
    html5lib
    lxml
    markdown
    oauth
    PIL
    pisa
    psycopg2
    pypdf
    pytz
    pysolr
    pyyaml
    reportlab
    suds
    twitter
    django-nose
    djangosanetesting
    python-faker
    selenium
    coverage
    cloudfiles
    django-cumulus
    twilio
    mock
    should-dsl

[django]
recipe = djangorecipe
version = trunk
project = tiger
eggs = 
    ${python:eggs}
settings = dev_settings
extra-paths = ${python:extra-paths}
download-cache = django

[tiger]
recipe = djangorecipe
version = trunk
project = tiger
eggs = 
    ${python:eggs}
settings = tiger_settings
extra-paths = ${python:extra-paths}
wsgi = true
download-cache = django

[reseller]
recipe = djangorecipe
version = trunk
project = tiger
eggs = 
    ${python:eggs}
settings = reseller_settings
extra-paths = ${python:extra-paths}
wsgi = true
download-cache = django
