{% extends pre_base %}
{% load content_tags %}

{% block logo %}
<h2>{{ site.name }}</h2>
{% endblock %}

{% block search %}
<form method="GET" action="{% url menu_search %}">
    {{ search_form.q }} <input type="submit" value="Go" /><br />
    {{ search_form.vegetarian }} {{ search_form.vegetarian.label_tag }}
    {{ search_form.spicy }} {{ search_form.spicy.label_tag }}
</form>
{% endblock %}

{% block menu %}
<ul>
    <li><a class="lightlink" href="/">Home</a></li>
    <li><a class="lightlink" href="{% url menu_home %}">Menu</a></li>
    <li><a class="lightlink" href="/about/">About</a></li>
    <li><a class="lightlink" href="/find-us/">Find Us</a></li>
    {% if site.has_news %}
    <li><a class="lightlink" href="/news/">News</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block messages %}
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}

{% block showcase %}
{% endblock %}

{% block content %}
{% endblock %}

{% block cart %}
{% if site.enable_orders %}
<div id="place-order" {% if cart|length %}class="complete"{% endif %}>
{% if cart|length %}
<p class="has-items">You have {{ cart|length }} item{{ cart|length|pluralize }} in your current order. <a href="{% url preview_order %}"><span>Complete your order</span></a></p>
{% else %}
<p>Order online for {{ site.order_options|join:"/" }}. Hungry? <a href="{% url menu_home %}"><span>Place an order</span></a></p>
{% endif %}
</div>
{% endif %}
{% endblock %}

{% block contact %}
<div class="locations">
    {{ site.sidebar_locations }}
    {% if site.location_set.count > 1 %}
    <div id="user-location">
    {% if location %}
    <span><strong>Your location:</strong> {{ location }}</span> <a class="button" href="{% url change_location %}" id="change-location">Change</a>
    {% else %}
    <span><strong>Your location is not set.</strong></span> <a class="button" href="{% url change_location %}" id="change-location">Set now</a>
    {% endif %}
    </div>
</div>
{% endif %}
<div class="clear"></div>
{% endblock %}

{% block pdf %}
{% if site.menu %}
<p>
    <a href="{{ site.menu.url }}">Download our menu</a> as a PDF!  Always guaranteed to be up-to-date.
</p>
{% endif %}
{% endblock %}

{% block social %}
{% if site.twitter %}
<p class="twitter social">
   <a href="http://twitter.com/{{ site.twitter }}"><span><b></b></span> <i>Follow us on <strong>Twitter</strong></i></a> 
</p>
{% endif %}
{% if site.facebook %}
<p class="facebook social">
   <a href="{{ site.facebook }}"><span><b></b></span> <i>Become a fan on <strong>Facebook</strong></i></a>
</p>
{% endif %}
{% endblock %}

{% block mail %}
{% if site.mailchimp %}
<h4>Newsletter</h4>
<div class="newsletter">
    <form method="POST" action="{% url mailing_list_signup %}">
    <p>Find out about promotions, new menu items, and more. Sign up for our  email newsletter.</p>
    <input type="text" name="email" />
    <input type="submit" value="Sign Up">
</div>

{% endif %}
{% endblock %}

{% block footer %}
{{ site.footer_locations }}
<p><a class="lightlink" href="{{ site.tiger_domain }}/dashboard/">Restaurant login</a> &bull; powered by <a class="lightlink" href="http://www.takeouttiger.com">Takeout Tiger</a> </p> 
{% endblock %}
