<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="ie6"> <![endif]-->
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html>         <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    {% if site.webmaster_tools %}
    {{ site.webmaster_tools|safe }}
    {% endif %}
    <title>{{ site.name }} |{% block title %} Welcome{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css" />
    <!--[if IE]>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen" charset="utf-8"></link>
    <![endif]--> 
    {% if base == 'base.html' %}
    <link id="skin-css" rel="stylesheet" type="text/css" href="{{ site.skin_url }}" />
    {% endif %}
    {% block extrahead %}
    {% endblock %}
    {% block extrahead2 %}
    {% endblock %}
    {% block toolbar-override %}
    {% endblock %}
</head>
<body class="{% block body-class %}{% endblock %}">
    {% block toolbar %}
    {% endblock %}
    {% block main %}
    {% endblock %}
    {% block js %}
    {% endblock %}
    {% block js2 %}
    {% endblock %}
    {% if site.google_analytics %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
</body>
</html>
