{% extends 'base.html' %}

{% block extrahead2 %}
<script src="{{ MEDIA_URL }}js/underscore.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery-1.6.1.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/backbone.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/nitpick.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/colorpicker.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/customize-2.css" />
<script src="{{ MEDIA_URL }}js/json2.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.cooquery.min.js"></script>
{% endblock %}

{% block body-class %}customizing{% endblock %}

{% block toolbar-override %}
    {{ styles }}
{% endblock %}

{% block toolbar %}
    {{ toolbar }}
{% endblock %}

{% block js2 %}
<script type="text/javascript" src="{% url stork_script %}"></script>
{% endblock %}
