{% extends 'base.html' %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/colorpicker.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/colorpicker.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/customize.css" />
<script src="{{ MEDIA_URL }}js/json2.js"></script>
{% endblock %}

{% block body-class %}customizing{% endblock %}

{% block toolbar-override %}
    <style id="header-font" type="text/css"></style>
    <style id="header-color" type="text/css"></style>
    <style id="body-font" type="text/css"></style>
    <style id="body-color" type="text/css"></style>
    <style id="background" type="text/css"></style>
    <style id="background-color" type="text/css"></style>
    <style id="masthead-color" type="text/css"></style>
    <style id="menu-color" type="text/css"></style>
    <style id="center-color" type="text/css"></style>
    <style id="override-css" type="text/css"></style>
{% endblock %}

{% block toolbar %}
<div id="toolbar">
    <div class="toolbar-inner">
    <ul class="tabs"> 
        <li><a href="#tab1">Fonts</a></li> 
        <li><a href="#tab2">Colors</a></li> 
        <li><a href="#tab3">Background</a></li> 
        <li><a href="#tab4">CSS</a></li> 
        <li class="back"><a class="back" href="#" onclick="window.history.go(-2)">Back to dashboard</a></li>
        <li class="button"><button id="save">Save</button></li>
    </ul> 


    <div class="tab_container"> 
        <div id="tab1" class="tab_content">
            <span>{{ header_font_form }}</span>
            <span>{{ body_font_form }}</span>
        </div> 
        <div id="tab2" class="tab_content">
            <span>{{ color_form }}</span>
        </div> 
        <div id="tab3" class="tab_content">
            <span>
            <div id="bg-standard">
                {{ bg_form }}
            </div>
            <div id="bg-custom" style="display:none;">
                {{ bg_color_form }}
                {% with site.background.image as image %}
                <form method="POST" enctype="multipart/form-data" action="{% url set_img %}" target="imgjson">
                {{ bg_img_form }}
                </form>
                <div id="bg-options" {% if not image %}style="display:none;"{% endif %}>
                {{ custom_bg_form }}
                </div>
                {% endwith %}
            </div>
            <a id="bg-toggle" href="#">Show more options</a>
            </span>
        </div> 
        <div id="tab4" class="tab_content">
            <textarea>{% autoescape off %}{{ css }}{% endautoescape %}</textarea><br/>
            <button id="preview">Preview</button>
        </div> 
    </div>
    </div>
</div>
<iframe name="imgjson" style="display:none;"></iframe>
{% endblock %}

{% block js %}
<script type="text/javascript">
var skinIdRegex = new RegExp("^{{ MEDIA_URL }}skins/(\\d+)-\\d+\.css$");
$(function () {
    // Ajax image upload handling
    $("input[type=file]").change(function () {
        $(this).closest("form")[0].submit();
    });
    $("iframe").load(function () {
        dataString = window['imgjson'].document.getElementsByTagName('body')[0].innerHTML;
        data = JSON.parse(dataString);
        $(data.selector).text(data.css);
        $("#bg-options").slideDown();
    });

    /*************
    * Tabbing
    *************/
    $(".tab_content").hide(); 
    $("ul.tabs li:first").addClass("active").show(); 
    $(".tab_content:first").show(); 

    $("ul.tabs li").click(function() {
        $("ul.tabs li").removeClass("active"); 
        $(this).addClass("active"); 
        $(".tab_content").hide(); 
        var activeTab = $(this).find("a").attr("href"); 
        $(activeTab).fadeIn(); 
        return false;
    });



    $("#id_header_font").change(function () {
        postData = $.param({'font': $(this).val()});
        $.post("{% url get_font_css %}", postData, function (data) {
            $("#header-font").text(data);
        }, "text");
    });
    $("#id_body_font").change(function () {
        postData = $.param({'body_font': $(this).val()});
        $.post("{% url get_body_font_css %}", postData, function (data) {
            $("#body-font").text("body { font-family:" + data + "; }");
        }, "text");
    });
    $("#id_bg").change(function () {
        if ($(this).val()) {
            postData = $.param({'bg': $(this).val()});
            $.post("{% url get_bg_css %}", postData, function (data) {
                $("#background").text("body {" + data + "; }");
            }, "text");
        }
    });
    $("#bg-custom select").change(function () {
        if ($(this).val()) {
            postData = $("#bg-custom :input").serialize();
            $.post("{% url get_custom_bg_css %}", postData, function (data) {
                $("#background").text("body {" + data + "; }");
            }, "text");
        }
    });
    $("#bg-toggle").click(function () {
        if ($("#bg-standard").is(":visible")) {
            $("#bg-standard").hide();
            $("#bg-custom").show();
            $(this).text("Show fewer options");
            postData = $("#bg-custom :input").serialize();
            $.post("{% url get_custom_bg_css %}", postData, function (data) {
                $("#background").text("body {" + data + "; }");
            }, "text");
        } else {
            $("#bg-standard").show();
            $("#bg-custom").hide();
            $(this).text("More options");
        }
        return false;
    });
    $("#picker-background_color").ColorPicker({
        onChange: function (hsb, hex, rgb) {
            $('#background-color').text("body {background-color:#" + hex + ";}");
            $("#id_background_color").val(hex);
            $('#picker-background_color div').css('backgroundColor', '#' + hex);

        },
    });
    $("#picker-header_color").ColorPicker({
        onChange: function (hsb, hex, rgb) {
            $('#header-color').text("h1, h2, h4 {color:#" + hex + ";}");
            $("#id_header_color").val(hex);
            $('#picker-header_color div').css('backgroundColor', '#' + hex);

        },
    });
    $("#picker-body_color").ColorPicker({
        onChange: function (hsb, hex, rgb) {
            $('#body-color').text("body {color:#" + hex + ";}");
            $("#id_body_color").val(hex);
            $('#picker-body_color div').css('backgroundColor', '#' + hex);

        },
    });
    $("#picker-masthead_color").ColorPicker({
        onChange: function (hsb, hex, rgb) {
            $('#masthead-color').text("#masthead {background-color:#" + hex + " !important;}");
            $("#id_masthead_color").val(hex);
            $('#picker-masthead_color div').css('backgroundColor', '#' + hex);

        },
    });
    $("#picker-masthead_font_color").ColorPicker({
        onChange: function (hsb, hex, rgb) {
            $('#masthead-color').text("#masthead h2, #masthead h4, #masthead label {color:#" + hex + " !important;}");
            $("#id_masthead_font_color").val(hex);
            $('#picker-masthead_font_color div').css('backgroundColor', '#' + hex);

        },
    });
    $("#picker-menu_color").ColorPicker({
        onChange: function (hsb, hex, rgb) {
            $('#menu-color').text("#menuWrap, #footer {background-color:#" + hex + " !important;}");
            $("#id_menu_color").val(hex);
            $('#picker-menu_color div').css('backgroundColor', '#' + hex);

        },
    });
    $("#picker-center_color").ColorPicker({
        onChange: function (hsb, hex, rgb) {
            $('#center-color').text("#mainWrap, #sidebarWrap {background-color:#" + hex + ";}");
            $("#id_center_color").val(hex);
            $('#picker-center_color div').css('backgroundColor', '#' + hex);

        },
    });
    $("#tab4 button").click(function () {
        $("#override-css").text($("#tab4 textarea").val());
    });
    $("#save").click(function () {
        linkToCss = $(":selected").val();
        console.log(linkToCss);
        console.log(skinIdRegex);
        postVars = $.param({id: skinIdRegex.exec(linkToCss)[1]});
        $.post("{% url select_skin %}", postVars, function (data) {
            alert(data); 
        }, "text");
    });
});
</script>
{% endblock %}
