{% extends 'base.html' %}

{% block extrahead2 %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/colorpicker.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/colorpicker.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/customize.css" />
<script src="{{ MEDIA_URL }}js/json2.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.cooquery.min.js"></script>
{% endblock %}

{% block body-class %}customizing{% endblock %}

{% block toolbar-override %}
    <style id="header-font" type="text/css"></style>
    <style id="header-color" type="text/css"></style>
    <style id="body-font" type="text/css"></style>
    <style id="body-color" type="text/css"></style>
    <style id="background" type="text/css"></style>
    <style id="background-color" type="text/css"></style>
    <style id="masthead-color" type="text/css"></style>
    <style id="masthead-font-color" type="text/css"></style>
    <style id="menu-color" type="text/css"></style>
    <style id="center-color" type="text/css"></style>
    <style id="button-color" type="text/css"></style>
    <style id="button-text-color" type="text/css"></style>
    <style id="shaded-color" type="text/css"></style>
    <style id="override-css" type="text/css"></style>
{% endblock %}

{% block toolbar %}
<div id="toolbar">
    <div class="toolbar-inner">
    <ul class="tabs"> 
        <li><a href="#tab1">Fonts</a></li> 
        <li><a href="#tab2">Colors</a></li> 
        <li><a href="#tab3">Background</a></li> 
        <li><a href="#tab4">CSS</a></li> 
        <li class="back"><a class="back" href="#" onclick="window.history.go(-2)">Back to dashboard</a></li>
        <li class="button"><button id="save">Save</button></li>
    </ul> 


    <div class="tab_container"> 
        <div id="tab1" class="tab_content">
            <span>{{ header_font_form }}</span>
            <span>{{ body_font_form }}</span>
        </div> 
        <div id="tab2" class="tab_content">
            <span><ul id="color-form">{{ color_form.as_ul }}</ul></span>
        </div> 
        <div id="tab3" class="tab_content">
            <span>
            <div id="bg-standard">
                {{ bg_form }}
            </div>
            <div id="bg-custom" style="display:none;">
                {{ bg_color_form }}
                {% with site.background.image as image %}
                <form method="POST" enctype="multipart/form-data" action="{% url set_img %}" target="imgjson">
                {{ bg_img_form }}
                </form>
                <div id="bg-options" {% if not image %}style="display:none;"{% endif %}>
                {{ custom_bg_form }}
                </div>
                {% endwith %}
            </div>
            <a id="bg-toggle" href="#">Show more options</a>
            </span>
        </div> 
        <div id="tab4" class="tab_content">
            <textarea name="css">{% autoescape off %}{{ css }}{% endautoescape %}</textarea><br/>
            <button id="preview">Preview</button>
        </div> 
    </div>
    </div>
</div>
<iframe name="imgjson" style="display:none;"></iframe>
{% endblock %}

{% block js2 %}
<script type="text/javascript">
$(function () {
    var modified = false;

    /*************
    * Tabbing
    *************/
    $(".tab_content").hide(); 
    // set up current tab from cookie
    currentTabId = $.readCookie("activeTab");
    if (!currentTabId) {
        $("ul.tabs li:first").addClass("active").show(); 
        $(".tab_content:first").show(); 
    } else {
        $("ul.tabs li").removeClass("active");
        $("a[href='" + currentTabId + "']").parent().addClass("active");
        $(currentTabId).show();
    }

    $("ul.tabs li").click(function() {
        $("ul.tabs li").removeClass("active"); 
        $(this).addClass("active"); 
        $(".tab_content").hide(); 
        var activeTab = $(this).find("a").attr("href"); 
        $(activeTab).fadeIn(); 
        // set cookie for active tab
        activeId = $(this).find("a").attr("href");
        $.setCookie('activeTab', activeId, {duration: 1});
        return false;
    });

    // Ajax image upload handling
    $("input[type=file]").change(function () {
        $(this).closest("form")[0].submit();
        modified = true;
    });
    $("iframe").load(function () {
        dataString = window['imgjson'].document.getElementsByTagName('body')[0].innerHTML;
        data = JSON.parse(dataString);
        $(data.selector).text(data.css);
        $("#bg-options").slideDown();
    });


    $("#id_header_font").change(function () {
        postData = $.param({'font': $(this).val()});
        $.post("{% url get_font_css %}", postData, function (data) {
            $("#header-font").text(data);
        }, "text");
        modified = true;
    });
    $("#id_body_font").change(function () {
        postData = $.param({'body_font': $(this).val()});
        $.post("{% url get_body_font_css %}", postData, function (data) {
            $("#body-font").text("body { font-family:" + data + "; }");
        }, "text");
        modified = true;
    });
    $("#id_bg").change(function () {
        if ($(this).val()) {
            postData = $.param({'bg': $(this).val()});
            $.post("{% url get_bg_css %}", postData, function (data) {
                $("#background").text("body {" + data + "; }");
            }, "text");
        }
        modified = true;
    });
    $("#bg-custom select").change(function () {
        if ($(this).val()) {
            postData = $("#bg-custom :input").serialize();
            $.post("{% url get_custom_bg_css %}", postData, function (data) {
                $("#background").text("body {" + data + "; }");
            }, "text");
        }
        modified = true;
    });
    $("#bg-toggle").click(function () {
        if ($("#bg-standard").is(":visible")) {
            $("#bg-standard").hide();
            $("#bg-custom").show();
            $(this).text("Show fewer options");
            postData = $("#bg-custom :input").serialize();
            $.post("{% url get_custom_bg_css %}", postData, function (data) {
                $("#background").text("body {" + data + "; }");
            }, "text");
        } else {
            $("#bg-standard").show();
            $("#bg-custom").hide();
            $(this).text("More options");
        }
        return false;
    });

    function addColorPicker(pickerSelector, styleTagSelector, inputSelector, cssTemplate) {
        $(pickerSelector).ColorPicker({
            onChange: function (hsb, hex, rgb) {
                previewCss = "";
                if (cssTemplate instanceof Array) {
                    for (i=0; i < cssTemplate.length; i++) {
                        previewCss += cssTemplate[i] + hex + " !important;}";
                    }
                } else {
                    previewCss = cssTemplate + hex + " !important;}";
                }
                $(styleTagSelector).text(previewCss);
                $(inputSelector).val(hex);
                $(pickerSelector + ' div').css('backgroundColor', '#' + hex);

                modified = true;
            },
        });
    }
    swatchSet = [
        ["#picker-background_color", '#background-color', "#id_background_color", "body {background-color:#"],
        ["#picker-header_color", '#header-color', "#id_header_color", "h1, h2, h4 {color:#"],
        ["#picker-body_color", '#body-color', "#id_body_color", "body {color:#"],
        ["#picker-masthead_color", '#masthead-color', "#id_masthead_color", "#masthead {background-color:#"],
        ["#picker-masthead_font_color", '#masthead-font-color', "#id_masthead_font_color", "#masthead h2, #masthead h4, #masthead label {color:#"],
        ["#picker-menu_color", '#menu-color', "#id_menu_color", "#menuWrap, div.footer {background-color:#"],
        ["#picker-center_color", '#center-color', "#id_center_color", "#mainWrap, #sidebarWrap {background-color:#"],
        ["#picker-button_color", '#button-color', "#id_button_color", ["#menu ul li:hover a, #menu ul li a:hover, a.add, #submit, a.button {background-color:#", "#orderPreview tr.total td {border-top-color:#", "a {color:#"]],
        ["#picker-button_text_color", '#button-text-color', "#id_button_text_color", "a.lightlink, #menu ul li:hover a, #menu ul li a:hover, a.button, a.add, #submit {color:#"],
        ["#picker-shaded_color", '#shaded-color', "#id_shaded_color", "#orderForm, .shaded {background-color:#"]
    ];
    
    for (i=0; i < swatchSet.length; i++) {
        addColorPicker(swatchSet[i][0], swatchSet[i][1], swatchSet[i][2], swatchSet[i][3]);
    }
    $("#tab4 button").click(function () {
        $("#override-css").text($("#tab4 textarea").val());
        modified = true;
    });
    $("#save").click(function () {
        postData = $("#toolbar :input").not("[type='file']").serialize();
        $.post("{% url save_custom_styles %}", postData, function (data) {
            $("#skin-css").attr("href", data);
        }, "text");
        modified = false;
    });
    $("div.wrapper a").click(function () {
        if (modified) {
            c = confirm("You have unsaved style changes.  Click OK to abandon them or Cancel and then Save to save them.");
            if (!c) {
                return false;
            }
        }
    });
});
</script>
{% endblock %}
