{% extends 'dashboard/content/home.html' %}

{% block body-class %}{{ block.super }}look{% endblock %}

{% block h2 %}
{{ theme.name }}
{% endblock %}

{% block help %}
{% endblock %}

{% block content %}
<a class="screenshot" href="{{ theme.screenshot.url }}">
    <img src="{{ theme.medium.url }}" alt="" />
</a>
<div class="info">
<p>{{ theme.description }}</p>
<h3>Tips</h3>
<p>{{ theme.notes}}</p>
</div>
<div class="clear"></div>
<div class="save-row clearfix">
<form method="POST">
    <a class="cancel" href="{% url theme_list %}">Cancel</a>
    <input type="submit" class="submit" value="Use this theme" />
</form>
</div>
</form>
{% endblock %}
