{% extends 'dashboard/content/home.html' %}

{% block body-class %}{{ block.super }}look{% endblock %}

{% block h2 %}
Look & Feel
{% endblock %}

{% block help %}

{% endblock %}

{% block content %}
<span class="buttons">
    <a href="{% url dashboard_look %}">Customize</a>
</span>
<p>Click customize to edit your logo, colors, fonts, background image, and even layout!</p>
<h3>Templates</h3>
<ul class="theme-list">
    {% for theme in themes %}
    <li>
        <a href="{% url theme_detail theme.id %}">
            <img src="{{ theme.medium.url }}" alt="" />
            <span>{{ theme.name }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
