{% extends 'sales/base.html' %}

{% block body-class %}{{ block.super }}network{% endblock %}

{% block h2 %}
SMS Network 
{% endblock %}

{% block content %}
<h3>SMS network invitations are currented enabled
<span class="buttons">
    <a href="{% url sms_disable %}">Disable</a>
    <a href="{% url edit_settings %}">Edit settings</a>
</span>
</h3>
<h2>Your SMS number: {{ sms.number_display }}</h2>
<h4>Invitation SMS:</h4>
<p>{{ sms.intro_sms|default:"not set" }}</p>

{% comment %}
<h3>Most recent campaigns
<span class="buttons">
    <a href="{% url campaign_list %}">View all</a>
    <a href="{% url create_campaign %}">+ Create New Campaign</a>
</span>
</h3>
<ul id="campaign-list">
{% for campaign in campaigns %}
    <li class="{% cycle '' 'white' %}">
        <span class="data">
            <strong>SMSes sent:</strong> {{ campaign.sent_count }}
            <strong>Recipients:</strong>
            <img src="{{ MEDIA_URL }}img/{{ campaign.img_url }}" />
            {% if campaign.filter_value %}
            {{ campaign.filter_on }}: {{ campaign.filter_value }}
            {% endif %}
        </span>
        <h4>{{ campaign.title }} ({{ campaign.timestamp|date }})</h4>
    </li>
{% empty %}
    <li>You have not sent any campaigns.</li>    
{% endfor %}
</ul>
{% endcomment %}
<div class="clear"></div>
<h3>Subscribers
<span class="buttons">
    <a href="{% url sms_subscriber_list %}" >View subscriber list</a>
</span>
</h3>
<p>
<strong>Total subscribers:</strong> {{ count.total }}
<strong>Active subscribers:</strong> {{ count.active }}
<strong>Unsubscribed:</strong> {{ count.inactive }}
</p>
{% endblock %}
