{% load compress %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
        <link rel="apple-touch-icon-precomposed" href="http://media.meirish.com/images/appIcon.png">
        <title>{{ site.name }}</title>
        <style id="font-face-fonts">
        {% if not fonts_are_cached %}
        {% for fontname, attrs in site.font_data.data.items %}
        {{ attrs.font_face }}
        {% endfor %}
        {% endif %}
        </style>
        <script type='text/javascript'>
        var font_key = "{{ font_key }}",
            font_face_tag = document.getElementById("font-face-fonts");

        function createCookie(name,value,days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime()+(days*24*60*60*1000));
                var expires = "; expires="+date.toGMTString();
            }
            else var expires = "";
            document.cookie = name+"="+value+expires+"; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

        if (readCookie("font_key") !== font_key) {
            localStorage.setItem("fontface", font_face_tag.innerHTML);
            createCookie("font_key", font_key, 365);
        } else {
            font_face_tag.innerHTML = localStorage.getItem("fontface");
        }
        </script>
        {% compress css %}
        {% include "mobile/includes/styles.html" %}
        {% endcompress %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <span id="home"></span>
        <header>
        <div id="banner">
            {% block logo %}
            <h2><a href="/">{{ site.name }}</a></h2>
            {% endblock %}
            {% block menu %}
            <nav>
            <ul>
                <li><a id="menu-main" href="{% url menu_home %}">Menu</a></li>
                <li><a href="#contact" class="contact">Contact</a></li>
        {% block cart %}
            {% if site.enable_orders %}
            <li class="cart">
            {% if cart|length %}
            <a class="button ordering" href="/menu/#review">Cart ({{ cart|length }}) </a>
            {% else %}
            <a class="button primary" href="{% url menu_home %}">Order</a>
            {% endif %}
            </li>
            {% endif %}
        {% endblock %}

       <li><a class="more-menu" href="#more-menu">More &#9660;</a></li>

            </ul>
            </nav>
            {% endblock %}  
        </div>
        </header>
        <section id="content">
        {% block content %}
        {% endblock %}
        </section>
        {% block pdf %}
        {% if site.menu %}
        <p>
            <a href="{{ site.menu.url }}">Download our menu (PDF)</a> 
        </p>
        {% endif %}
        {% endblock %}
        <footer>
        <nav>
        <ul id="more-menu">
            <li><a href="/" class="btn">Home</a></li>
            <li><a href="/about/" class="btn">About</a></li>
            {% if site.has_news %}
            <li><a href="/news/" class="btn">News</a></li>
            {% endif %}
        </ul>
        </nav>

        {% block contact %}
        {{ site.sidebar_locations }}
        {% endblock %}

        {% block social %}
        {% if site.twitter %}
        <div id="twitter">
            <a href="http://twitter.com/{{ site.twitter }}">follow us on Twitter</a>
        </div>
        {% endif %}
        {% if site.facebook %}
        <div id="facebook">
            <a href="{{ site.facebook }}">Facebook</a>!
        </div>
        {% endif %}
        {% endblock %}

        {% block footer %}
        {% block search %}
        <form method="GET" action="{% url menu_search %}">
            {{ search_form.q }} <input type="submit" value="Go" /><br />
        </form>
        {% endblock %}
        <p> Powered by <a class="lightlink"
            href="http://www.takeouttiger.com">Takeout Tiger</a> | <a href="{{ site.tiger_domain }}/dashboard/"class="button">Restaurant login</a>
         </p>
        {% endblock %}
        </footer>
        {% block messages %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endblock %}
<div id="contact">
    <a href="#home" class="back-link btn">&larr; Back</a>
    <h1>Contact {{site.name}}</h1>
        {% if site.location_set.count == 1 %}
        {% with site.location_set.all.0 as location %}
        <div class="box-wrap">
        <div class="half hours">
        {{ location.schedule.mobile_schedule|default:'[your restaurant hours]' }}
        </div>
        <div class="half communicate">
        <p> {% if location.phone %}{{ location.phone }}{% else %}[your phone number ]{% endif %}</p>
        <p>{% if location.fax_number %}Fax: {{ location.fax_number }}{% endif %}</p>
        {% if location.email %}
        <p>{{ location.email_display }}</p>
        {% endif %}
    </div>
</div>
<div class="map-link">
        <a href="http://maps.google.com/?q={{ location.address|iriencode }}" class="maplink" style="background: url('http://maps.google.com/maps/api/staticmap?size=640x200&maptype=roadmap&markers=color:red%7C{{ location.address|iriencode }}&sensor=true') center center no-repeat !important;">
    </a>
        {% if location.address %}
        <address>
        <span>{{ location.street }}</span>
        <span>{{ location.city }}, {{ location.state }} {{ location.zip_code }}</span>
        </address>
        {% endif %}
    </div>
        {% endwith %}
        {% endif %}
        <h2>Connect with us</h2>
        <div class="box-wrap">
        {% if site.twitter %}
        <div class="twitter half">
            <a href="http://twitter.com/{{ site.twitter }}" target="_blank">@{{ site.twitter }} on Twitter</a>
        </div>
        {% endif %}
        {% if site.facebook %}
        <div class="facebook half">
            <a href="{{ site.facebook }}" target="_blank">Like us on Facebook</a>
        </div>
        {% endif %}
        </div>

        {% block mail %}
        {% if site.mailchimp %}
        <div class="mailchimp">
            <form method="POST" action="{% url mailing_list_signup %}">
                <h2>Join our mailing list!</h2>
                <em>just enter you email below to receive updates</em>
                <input type="text" name="email" /> <input type="submit" value="Join" />
            </form>
        </div>
        {% endif %}
        {% endblock %}

</div>
        {% if not menu_is_cached %}
        <script id="menu-data" type="text/json">
        {{ site.menu_json.data|safe }}
        </script>
        {% endif %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/underscore.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/zepto.js"></script>
        <script type="text/javascript" charset="utf-8">
        var ONLINE_ORDERING = {{ site.enable_orders|lower }};
            // do some dom ready magic here for menu perhaps?
        $(document).ready(function(){
                {# hash to be stored in cookie to check for menu updates #}
                var menu_key = "{{ menu_key }}";
                $('.back-link').bind('touch click', function(e){
                    e.preventDefault();
                    $('body').css('height','auto');
                    history.back();
                    return false;
                });
                $('.contact').bind('touch click', function(e){
                    var cHeight = $('#contact').height();
                    $('body').css('height',cHeight+'px');
                });
                if (readCookie("menu_key") !== menu_key) {
                    localStorage.setItem("menu", $("#menu-data").text());
                    createCookie("menu_key", menu_key, 365);
                }
        });
        </script>
            {% block js %}
            {% endblock %}
        </body>
    </html>
