{% extends base %}

{% block title %}
{{ item.section.name }} | {{ item.name }}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock %}

{% block content %}
{% if not form and site.enable_orders and item.is_available %}
<a class="add top" href="{% url order_item item.section.id item.section.slug item.id item.slug %}">add to order</a>
{% endif %}
<h1>{{ item.name }}{% if item.spicy %} <span class="pepper">❧</span>{% endif %}{% if item.vegetarian %} <span class="veg">veg</span>{% endif %}</h1>
<div>
{% if item.image %}
<img class="inset-left" src="{{ item.image.medium.url }}" />
{% endif %}
{% if item.description %}
{{ item.description|linebreaks }}
{% endif %}
{% block form %}
<ul id="item-options">
{% for choice in item.sidedishgroup_set.all %}
    <li>&bull; {{ choice|safe }}</li>
{% endfor %}
{% for extra in item.upgrade_set.all %}
    <li>&bull; {{ extra|safe }}</li>
{% endfor %}
</ul>
{% endblock %}
<a href="{{ item.section.get_absolute_url }}">&laquo; back to {{ item.section.name }}</a>
</div>
{% endblock %}

{% block sections %}
<h2>Menu sections</h2>
<ul id="menuitems">
{% for section in sections %}
    <li{% cycle ' class="shaded"' '' %}>
        <a href="{{ section.get_absolute_url }}">{{ section }}</a>
    </li>
{% endfor %}
{% endblock %}
{% block js %}
{% endblock %}
