{% extends 'core/item_detail.html' %}

{% block form %}
<form id="orderForm" method="POST" action=".">
<span class="totalPrice">${{ total }}</span>
<span style="display:none;" class="originalPrice">${{ total }}</span>
<h3>Order now!</h3>
{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}
{% if form.quantity.errors %}
{{ form.quantity.errors }}
{% endif %}
<label id="qty">
{{ form.quantity.label }}
{{ form.quantity }}
</label>
{% if form.variant %}
    {% if form.variant.errors %}
    {{ form.variant.errors }}
    {% endif %}
    {{ form.variant }}
{% endif %}
{% for field in form.sidedish_fields %}
    <div class="upgrades">
        {% if field.errors %}
        {{ field.errors }}
        {% endif %}
        <label>Your choice of:</label>
        {{ field }}
    </div>
{% endfor %}
{% if form.upgrades %}
    <div class="upgrades">
    {% if form.upgrades.errors %}
    {{ form.upgrades.errors }}
    {% endif %}
    {{ form.upgrades }}
    </div>
{% endif %}
<label>
Special instructions ("No MSG", "Extra lettuce")
{{ form.notes }}
</label>
<input id="submit" type="submit" value="Add to order" />
<div class="clear"></div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
function getLabelNum(selector) {
    val = $(selector).parent().find('span').text();
    return Number(val);
}

function calculate() {
    qty = Number($("#id_quantity").val());
    basePrice = getLabelNum("[name='variant']:checked") || Number($("span.originalPrice").text().slice(1));
    choicePrice = 0;
    $("[name^='side_']:checked").each(function () {
        choicePrice += getLabelNum(this) || 0;
    });
    upgrades = 0;
    $("[name='upgrades']:checked").each(function () {
        upgrades += getLabelNum(this);
    });
    total = (basePrice + upgrades + choicePrice) * qty;
    nonDecimalDigits = (Math.floor(total) + "").length;
    return total.toPrecision(nonDecimalDigits + 2);
}

$(function () {
    $("#orderForm :text,#orderForm :radio,#orderForm :checkbox").change(function () {
        $("span.totalPrice").text("$" + calculate());
    });
});
</script>
{% endblock %}
