{% extends base %}

{% block extrahead %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
{% endblock %}

{% block title %}
 {{ section.name }}
{% endblock %}

{% block content %}
<h1>{{ section }}</h1>
{% if section.hours %}
<p><em>Available {{ section.hours }}</em></p>
{% endif %}
{{ section.description|linebreaks }}
<dl>
    <dt><span class="pepper">❧</span></dt>
    <dd>Spicy menu item</dd>
    <dt><span class="veg">veg</span></dt>
    <dd>Vegetarian menu item</dd>
</dl>
<ul id="menuitems" class="alternating">
{% for item in section.item_set.active %}
    <li{% cycle ' class="shaded"' '' %}>
        <div class="grid_4 alpha">
            <h4><a href="{% url menu_item section.id section.slug item.id item.slug %}">{{ item }}</a>{% if item.spicy %} <span class="pepper">❧</span>{% endif %}{% if item.vegetarian %} <span class="veg">veg</span>{% endif %}</h4>
            {% if item.description %}
            {{ item.description|linebreaks }}
            {% endif %}
        </div>
        <div>
            {% if location.enable_orders and item.available_online %}
            <a class="button ordering" href="{% url order_item section.id section.slug item.id item.slug %}">add to order</a>
            {% endif %}
            <ul> 
            {% for price in item.pricing %}
                    <li>{{ price }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="clear"></div>
    </li>
{% endfor %}
</ul>
{% endblock %}
