{% extends 'base.html' %}

{% block extrahead %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
{% endblock %}

{% block title %}
| {{ section.name }}
{% endblock %}

{% block content %}
<h1>{{ section }}</h1>
{{ section.description|linebreaks }}
<dl>
    <dt><span class="pepper">❧</span></dt>
    <dd>Spicy menu item</dd>
    <dt><span class="veg">veg</span></dt>
    <dd>Vegetarian menu item</dd>
</dl>
<ul id="menuitems">
{% for item in section.item_set.active %}
    <li{% cycle ' class="shaded"' '' %}>
        <div class="grid_4 alpha">
            <h4><a href="{{ item.get_absolute_url }}">{{ item }}</a>{% if item.spicy %} <span class="pepper">❧</span>{% endif %}{% if item.vegetarian %} <span class="veg">veg</span>{% endif %}</h4>
            {% if item.description %}
            {{ item.description|linebreaks }}
            {% endif %}
        </div>
        <div>
            {% if site.enable_orders %}
            <a class="add" href="{% url order_item section.slug item.slug %}">add to order</a>
            {% endif %}
            <ul> 
            {% for variant in item.variant_set.all %}
                {% if forloop.first and forloop.last %}
                    <li>${{ variant.price|floatformat:2 }}</li>
                {% else %}
                    <li>{{ variant.description }} - ${{ variant.price|floatformat:2 }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div class="clear"></div>
    </li>
{% endfor %}
</ul>
{% endblock %}
