{% extends 'dashboard/content/home.html' %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block body-class %}{{ block.super }} content{% endblock %}

{% block h2 %}
Edit your "About" page
{% endblock %}

{% block help %}
Provide a detailed description here of your restaurant, staff, the history of your space, and whatever else you might like to include.
{% endblock %}

{% block content %}
<form method="POST" action=".">
<label>{{ form.title.label }} {% if form.title.errors %} {{ form.title.errors }} {% endif %}</label>
{{ form.title }}
<label>{{ form.text.label }} {% if form.text.errors %} {{ form.text.errors }} {% endif %}</label>
{{ form.text }}
<div class="clear"></div>
<div class="save-row clearfix">
<a class="cancel" href="{% url dashboard_content %}">Cancel</a>
<input type="submit" value="Save" class="submit" />
</div>
</form>
{% endblock %}

{% block js %}
{% endblock %}


