{% extends 'dashboard/content/home.html' %}

{% block body-class %}{{ block.super }}content{% endblock %}

{% block h2 %}
Primary page content
{% endblock %}

{% block help %}
<p>In addition to your menu and your news feed, the three pages below provide your visitors information about your site. When adding text to these pages, think about what words people might search for that you would want to bring up your site, and be sure to include them in the content.</p>
{% endblock %}

{% load content_tags %}
{% block content %}
        <h3>Your homepage <a href="{% url dashboard_edit_content "homepage" %}">Edit</a></h3>
        <h4>{% get_title site "homepage" %}</h4>
        {% get_body site "homepage" %}
        
		<h3>Your &#8220;About&#8221; page <a href="{% url dashboard_edit_content "about" %}">Edit</a></h3>
        <h4>{% get_title site "about" %}</h4>
        {% get_body site "about" %}

        <h3>Your &#8220;Find us&#8221; page <a href="{% url dashboard_edit_content "find-us" %}">Edit</a></h3>
        <h4>{% get_title site "find-us" %}</h4>
        {% get_body site "find-us" %}

{% endblock %}
