{% extends 'dashboard/content/home.html' %}

{% block body-class %}{{ block.super }}content{% endblock %}

{% block h2 %}
Main Menu
{% endblock %}

{% block help %}
<h4>Your main menu</h4>
<p>On this page, you can add to, remove from, and rearrange the items on your main menu.</p>
<p>We start you off with five menu items: "Home", "Menu", "About", "Find Us", and "News".  The "Menu" and "News" links will always be there and point to your restaurant menu and your blog.  The other three ("Home", "About", and "Find Us") are a typical set of informative pages, but you are free to change them.</p>
<p>To edit the content of any of your pages, click the "Edit" button on the toolbar across from the title of the item.  You will be taken to a form where you can edit text and add images to that page.</p>
<p>To delete a page, click the "Delete" button on the toolbar across from the title of the item.</p>
<p>To add a brand new page, click the "+New Page" button in the upper right.  You'll be taken to a form just like the one for editing existing pages, except it will be completely blank.</p>
<p>You can change the order of the items in your menu by clicking and holding down your mouse button on the title bar of the item you want to move and dragging the item to the desired position. <strong>Note:</strong> The first item in your menu list will not only appear first in the menu, it will be the first page your visitors see when they visit {{ site }}.</p> 
{% endblock %}

{% block extrahead %}
<style>
	#menu-items {
		clear:right;
	}
	#menu-items li {
		border-radius:6px;
		background-color:#fff;
		margin-left:0;
		margin-top:10px;
		padding:6px 10px;
	}
	#menu-items div.title-bar {
		background-color: #34484F;
		color:#fff;
		padding:3px 5px;
		border-radius:4px;
	}
	#menu-items p {
		color: #444;
		font-style: italic;
		margin-top:10px;
		margin-bottom:10px;
	}
</style>
{% endblock %}

{% load content_tags %}
{% block content %}

<span class="buttons">
	<a href="{% url add_page %}">+New Page</a>
</span>
<div id="menu-items">
	<ul></ul>
</div>

{% endblock %}

{% block js %}
<script type="application/json" id="menu-items-data">
	{{ menu_items_data|safe }}
</script>
<script src="{{ MEDIA_URL }}js/vendor/require.js" data-main="{{ MEDIA_URL }}js/dashboard/main_menu/init"></script>
{% endblock %}
