{% extends 'dashboard/content/home.html' %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block body-class %}{{ block.super }} content{% endblock %}

{% block h2 %}
Edit your "Find Us" blurb
{% endblock %}

{% block help %}
<p>This text, along with a map using the address you entered in the "Location" section, will appear on the "Find Us" page.</p>
{% endblock %}

{% block content %}
<form method="POST" action=".">
<label>{{ form.title.label }} {% if form.title.errors %} {{ form.title.errors }} {% endif %}</label>
{{ form.title }}
<label>{{ form.text.label }} {% if form.text.errors %} {{ form.text.errors }} {% endif %}</label>
{{ form.text }}
<div class="clear"></div>
<div class="save-row clearfix">
<a class="cancel" href="{% url dashboard_content %}">Cancel</a>
<input type="submit" value="Save" class="submit" />
</div>
</form>
{% endblock %}

{% block js %}

{% endblock %}


