{% extends 'dashboard/base.html' %}

{% block body-class %}site {% endblock %}

{% block help %}
FIXME
{% endblock %}

{% block submenu %}
<li><a class="content" href="{% url dashboard_content %}">Content</a></li>
<li><a class="images" href="{% url dashboard_img_list %}">Images</a></li>
<li><a class="pdfs" href="{% url dashboard_pdf_list %}">PDF menus</a></li>
<li><a class="look" href="{% url theme_list %}">Look & Feel</a></li>
<li><a class="domain" href="{% url dashboard_domain %}">Custom domain</a></li>
<li><a class="google" href="{% url google %}">Google tools</a></li>
{% if site.plan.has_mobile %}
<li><a class="mobile" href="{% url mobile %}">Mobile</a></li>
{% endif %}
{% endblock %}
