{% extends 'dashboard/content/home.html' %}

{% block body-class %}{{ block.super }}images{% endblock %}

{% block h2 %}
{% if instance %}Edit{% else %}Add{% endif %} image
{% endblock %}

{% block help %}
<p>All images that you upload will be resized to fit in all the appropriate places on your site.</p>
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
{{ form.as_p }}
<input type="submit" value="Save">
</form>
{% if instance %}<img src="{{ instance.large.url }}" />{% endif %}
{% endblock %}

