{% extends 'dashboard/content/home.html' %}

{% block body-class %}{{ block.super }}pdfs{% endblock %}

{% block content %}
    <div class="grid_4 alpha">
        <a class="buttonTop last" href="{% url dashboard_add_pdf %}">Add</a>
        <h2>PDF Menus</h2>
        <ul class="drag sections">
        {% for pdf in pdfs %}
            <li> 
                <a class="buttonTop last" href="{% url dashboard_delete_pdf pdf.id  %}">Delete</a>
                <a class="buttonTop" href="{% url dashboard_edit_pdf pdf.id %}">Edit</a>
                <a class="buttonTop" href="{% url dashboard_preview_pdf pdf.id %}">Preview</a>
                {% if not pdf.featured %}
                <a class="buttonTop" href="{% url dashboard_feature_pdf pdf.id %}">Feature</a>
                {% endif %}
                <div class="clear"></div>
                <h3>{{ pdf }}{% if pdf.featured %} (featured on site){% endif %}</h3>
                <p>Pages: {{ pdf.page_count }}</p>
                <p>{{ pdf.footer }}</p>
            </li> 
        {% empty %}
            <li>You currently have no PDF menus. <a href="">Create a pdf</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

