{% extends 'dashboard/content/home.html' %}

{% block extrahead %}
<style>
    ul, li {margin-left:0;}
    li, li label {display:inline;}
</style>
{% endblock %}

{% block body-class %}{{ block.super }} pdfs{% endblock %}

{% block h2 %}
{% if form.initial|length %}Edit{% else %}Create a new{% endif %} PDF menu
{% endblock %}

{% block help %}
<p>On this screen, you can create and edit high-quality PDF menus that visitors can download from your site and you can fax to customers who still roll that way.</p>
{% endblock %}

{% block content %}
<form method="POST" action=".">
    <div class="grid_6 alpha">
        <h2>Content</h2>
        <label>
        {{ form.name.label }} {% if form.name.errors %} {{ form.name.errors }} {% endif %}<br />
        {{ form.name }}
        </label>

        <label>
        {{ form.title.label }}{% if form.title.errors %} {{ form.title.errors }} {% endif %} <br />
        {{ form.title }}
        </label>
    
        <label>
        {{ form.sections.label }}{% if form.sections.errors %} {{ form.sections.errors }} {% endif %} <br />
        {{ form.sections }}
        </label>
    
        <label>
        {{ form.show_descriptions }} {{ form.show_descriptions.label }}
        </label>

        <label>
        {{ form.footer.label }}{% if form.footer.errors %} {{ form.footer.errors }} {% endif %} <br />
        {{ form.footer }} 
        </label>
    </div>
    <div class="grid_6 omega">
        <h2>Layout</h2>
        <label>
        {{ form.columns.label }}{% if form.columns.errors %} {{ form.columns.errors }} {% endif %} <br />
        {{ form.columns }}
        </label>

        <label>
        {{ form.column_height.label }}{% if form.column_height.errors %} {{ form.column_height.errors }} {% endif %} <br />
        {{ form.column_height }}
        </label>
    
        <label>
        {{ form.orientation.label }}{% if form.orientation.errors %} {{ form.orientation.errors }} {% endif %} <br />
        {{ form.orientation }}
        </label>
    </div>
<div class="clear"></div>
<div class="save-row clearfix">
<a class="cancel" href="{% url dashboard_content %}">Cancel</a>
<input type="submit" value="Save" class="submit" />
</div>

</form>
{% endblock %}

{% block js %}

{% endblock %}

