{% extends 'dashboard/content/home.html' %}

{% block body-class %}{{ block.super }}pdfs{% endblock %}

{% block h2 %}
PDF Menus
{% endblock %}

{% block help %}
<p>Manage your PDF menus on this screen.  Click "Feature" in the table row with the PDF you want to appear for download on your homepage.</p>
{% endblock %}

{% block content %}
    <span class="buttons">
        <a href="{% url dashboard_add_pdf %}">+ new menu</a>
    </span>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Page count</th>
                <th>Featured</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for pdf in pdfs %}
            <tr> 
                <td>{{ pdf.name }}</td>
                <td>{{ pdf.page_count }}</td>
                <td>{{ pdf.featured|yesno:"Yes,No" }}</td>
                <td><a href="{{ pdf.url }}">Preview</a></td>
                <td><a href="{% url dashboard_edit_pdf pdf.id %}">Edit</a></td>
                <td>{% if not pdf.featured %}<a href="{% url dashboard_feature_pdf pdf.id %}">Feature</a>{% endif %}</td>
                <td><a href="{% url dashboard_delete_pdf pdf.id %}">Delete</a></td>
            </tr> 
        {% empty %}
            <li>You currently have no PDF menus. <a href="">Create a pdf</a></li>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

