{% extends 'dashboard/content/home.html' %}

{% block body-class %}{{ block.super }}pdfs{% endblock %}

{% block content %}
    <div class="grid_10 push_1 alpha omega">
        <a class="buttonTop last" href="{% url dashboard_add_pdf %}">Add</a>
        <h2>PDF Menus</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Page count</th>
                <th>Featured</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for pdf in pdfs %}
            <tr> 
                <td>{{ pdf.name }}</td>
                <td>{{ pdf.page_count }}</td>
                <td>{{ pdf.featured|yesno:"Yes,No" }}</td>
                <td><a href="{% url dashboard_preview_pdf pdf.id %}">Preview</a></td>
                <td><a href="{% url dashboard_edit_pdf pdf.id %}">Edit</a></td>
                <td>{% if not pdf.featured %}<a href="{% url dashboard_feature_pdf pdf.id %}">Feature</a>{% endif %}</td>
                <td><a href="{% url dashboard_delete_pdf pdf.id %}">Delete</a></td>
            </tr> 
        {% empty %}
            <li>You currently have no PDF menus. <a href="">Create a pdf</a></li>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

