{% if site.location_set.count == 1 %}
    {% with site.location_set.all.0 as location %}
        <address>{{ location.schedule.display|default:'[your restaurant hours]' }} &bull; {% if location.address %}{{ location.address }}{% else %}[your restaurant address]{% endif %} &bull; {% if location.phone %}{{ location.phone }}{% else %}[your phone number]{% endif %}</address>
    {% endwith %}
{% else %}
    <address>
    {% for location in site.location_set.all %}
        {% if not forloop.first %}
        &bull;
        {% endif %}
        <span>
            <a href="{{ location.get_absolute_url }}">{{ location.name }}</a> {{ location.phone }}
        </span>
    {% endfor %}
    </address>
{% endif %}

