#toolbar {
    width:100%;
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    font-family:Arial !important;
    background:#151415;
    padding:10px 0;
    border-bottom:1px solid rgba(200,200,200,0.15);
}
#toolbar div.toolbar-inner {
    padding:0 10px;
}

#toolbar ul {
    list-style-type:none;
    margin:0;
}

#toolbar li {
    display:inline-block;
}

#toolbar form {
    padding:6px 10px;
}

#toolbar select {
    border: 1px solid grey;
    background-color:white;
    margin-bottom:10px;
}

#toolbar select:last-child{margin:0;}

div.tab_container {
    z-index:1000;
    position:absolute;
    top:57px;
    left:7px;
    padding:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    width:auto;
    border:1px solid rgba(75,75,75,0.15);
    background-color:rgba(247,247,247,0.95);
    -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.2);
}

div.tab_container div span{
    padding:10px;
    background:rgba(234,234,234,0.6);
    border:1px solid rgba(75,75,75,0.15);
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:block;
    margin-top:10px;
    overflow:auto;
}

div.picker-widget{margin-bottom:10px;}
    div.picker-widget:last-child{margin:0;}

div.tab_container div span:first-child{margin:0;}

.colorpicker {
    z-index:1001;
}
ul.tabs li {
    margin-left:0;
    margin-right:10px;
}

ul.tabs li:hover{

}

ul.tabs li a {
    color:#4B4B4B;
    text-decoration:none;
    background-color: #DEDEDE;
    padding: 4px 9px;
    display:block;
}

ul.tabs li a, ul.tabs li button,button#preview {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;   
}

ul.tabs li.button{
    /*background-color:#6c8fa0; */   
}

ul.tabs li button {
    background-color:#6c8fa0;
    border:none;
    color:#ffffff;
    font-size:14px;
    font-family:Arial,sans-serif;
    cursor:pointer;
    padding: 5px 9px;
}

button#preview{
    background-color:#6c8fa0;
    border:none;
    color:#ffffff;
    font-size:12px;
    font-family:Arial,sans-serif;
    cursor:pointer;
    padding: 3px 7px;    
    margin-top:5px;
    float:right;
}

ul.tabs li.active a{
    background-color: #C76218;
}
 
ul.tabs li.active a{
    color:white;
}

ul.tabs li.back,ul.tabs li.button{
    float:right;
}

ul.tabs li.back a{
    background:none;    
}

ul.tabs li.back a:hover{
    color:#DEDEDE;
}

div.tab_container label, p#spinner {display:block;color:#444444;font-size:12px;}

a#bg-toggle{color:#4d4d4d;float:right;font-size:12px;margin-top:20px;}

#toolbar textarea {
    border:0;
    width: 400px;
    height: 300px;
    border:1px solid rgba(75,75,75,0.15);
}
div.picker-widget {
    background:url("../img/select.png") repeat scroll 0 0 transparent;
    height:36px;
    position:relative;
    width:36px;
}

div.picker-widget div {
    background:url("../img/select.png") repeat scroll center center transparent;
    height:30px;
    left:3px;
    position:absolute;
    top:3px;
    width:30px;
}
.customizing .wrapper{margin-top:49px;}

#color-form {
    width:285px;
}

#color-form li {
    width:140px;
    margin-left:0;
}

