html, body {height:100%; font-family: "Trebuchet MS", Trebuchet, Tahoma, Verdana, sans-serif;}
ul {list-style-type:none;}
h2, h3{margin: 10px 0 5px 0;}
#masthead {height:100px; width:100%;}
#menuWrap {width:100%; height:36px; margin-bottom: 15px;}
.wrapper{min-height: 100%; height: auto !important; height: 100%; margin-bottom: -50px;}
div.shim{height: 50px; clear: both;}
.footer{width:100%; position: relative; margin-top: -50px; height: 50px; clear: both;}
.footer p, .footer a{color: #c76218 !important; font-size: 12px; text-shadow: 0 1px 0 rgba(255,255,255,.2); text-decoration: none;}
.footer a:hover{ background: #c76218; color: white!important;}
body {background:#2c2a2c; font-size:16px;}
ul.menu{margin:0; font-size:14px;}
ul.menu li{float:left;margin:0;position:relative;}
ul.menu li a{text-decoration:none;display:block;padding:8px 15px 5px 15px; margin:0; color:white;}
ul.menu li a:hover{background-color:#ccc;background-color: rgba(0,0,0,.2); color:#34484f;}
#submenu ul.menu li a{padding: 2px 10px; margin: 0 2px; font-size: 12px; color: black; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius:3px;}
#submenu {padding-bottom: 5px; border-bottom: 1px inset #ccc; margin-bottom: 10px;}
#orderForm ul {list-style-type:none;}
#orderForm li {display:inline;}
#menu h1{color: #e3e3be; font-weight: normal;}

#main {padding:15px; background-color:#eee; border:1px grey solid; margin-bottom:15px;}
a {color:#34484f;}
a.lightlink {color:white;}

a.buttonTop, a.add-row, a.delete-row {
    background-color:#004c00;
    color:white;
    display:block;
    font-size:18px;
    font-weight:bold;
    padding:6px 9px 6px 9px;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    float:right;
    margin-right:10px;
}
#menuWrap{background: black;background: rgba(0,0,0,.5);padding: 10px 0;}
#menu ul li ul li a:hover, a.buttonTop, a.add-row, a.delete-row {
    background-color: #c76218;
}

a.buttonTop:hover, a.add-row:hover, a.delete-row:hover {
    background-color: #c76218;
}

a.buttonTop.last {
    margin-right:0;
}

input, select, textarea {border:1px solid grey; font-family:Arial; font-size:16px; background-color:white;}
input:focus, select:focus, textarea:focus {background-color:#cde0e8; border-color:black;}

ul.errorlist {background-color:pink; color:red; border: 1px solid red; margin-bottom:1px;}

ul.drag {margin:0; padding:0;}
ul.drag li {margin:0 0 10px 0; padding:12px;}
ul.drag.sections li, #variantForms div, #upgradeForms div, p.usage {background-color:#bfb7a9; border:1px solid grey; color:#635d50;}
ul.drag li p {font-size:14px; margin-bottom:0;}
ul.drag li a, a.add-row, a.delete-row {font-size:12px; padding:3px 6px;}
ul.drag.items li, ul.drag.sections li.selected {background-color:#cde0e8; color:#02405a; border:black solid 1px;}
ul.drag h3 {margin-bottom:0;}

ul.items ul {margin:0; padding:5px 0 0;}
ul.items li li {border:none; font-style:italic; font-size:13px; margin:0; padding:0;}
span.pricing {font-size:13px;}

label {display:block; margin-bottom:13px;}
textarea {width:377px; padding:4px;}

label.price {float:right;}
label.price input {width:40px;}

#variantForms div, #upgradeForms div {padding:15px; margin-bottom:10px;}
#variantForms label, #upgradeForms label {font-size:14px;}
a.delete-row {margin:20px auto auto 20px;}

p.subscribers {background-color:#cde0e8; color:#02405a; border:black solid 1px;}
p.subscribers, p.usage {padding:10px;}

table {width:100%; font-size:13px;}
table thead {color:white; background-color:#02405a;}
table tr.shaded {background-color:#cde0e8;}
table tr.total {border-top:1px solid #02405a;}
table td {padding:1px 4px;}
table td.qty {text-align:center;}
table {margin-bottom:0;}
table th a {color:white;text-decoration:none;}
td.total {text-align:right;}

div.pagination {text-align:center; font-size:14px; padding:8px; color:#635d50;}

/***********
* MESSAGES *
***********/

.messages {list-style-type:none;}
.messages li {
    border:1px solid;
    margin-left:0;
    padding:6px;
}
.messages li.success {color:green;background-color:#d3ead3;border-color:green;}
.messages li.warning {color:#704308;background-color:#f9f7c3;border-color:#704308;}
.messages li.error {color:#ae0001;background-color:#f1abab;border-color:#ae0001;}

/********************
* NAV ACTIVE STATES *
********************/

/* top tier */
body.restaurant a.restaurant,
body.site a.site,
body.marketing a.marketing,
body.orders a.orders,
body.account a.account 
{
    color:white !important;
    background-color:#c76218 !important;
}

/* bottom tier */
body.menu a.menu,
body.location a.location,
body.hours a.hours,
body.content a.content,
body.images a.images,
body.pdfs a.pdfs,
body.look a.look,
body.domain a.domain,
body.integrations a.integrations,
body.coupons a.coupons,
body.publish a.publish,
body.subscribers a.subscribers,
body.orders a.orders,
body.checkout-messages a.checkout-messages,
body.payment a.payment,
body.orders-settings a.orders-settings
{
    color:white !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .6);
    background-color:#c76218;
    background-color: rgba(199, 98, 24, .8) !important;
}

/********************
* Site pages *
********************/
th{text-align: left;}
th, td{padding: 0 2px;}
h1,h2,h3,h4,h5,h6{font-family: Georgia, serif;}
h3{font-size: 18px;}
h3 a{display: inline-block; margin-left: 5px; font-size: 12px;}
h4{font-size: 16px; margin: 16px 0 2px;}

th.total, td.total{text-align: right;}


.olControlEditingToolbar{width: 140px !important; background: #fff; background: rgba(255,255,255,.9); border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}