html, body {height:100%; font-family: "Trebuchet MS", Trebuchet, Tahoma, Verdana, sans-serif;}
ul {list-style-type:none;}
h2, h3{margin: 10px 0 5px 0;}
#masthead {height:100px; width:100%;}
#menuWrap {width:100%; height:36px; margin-bottom: 15px;}
.wrapper{min-height: 100%; height: auto !important; height: 100%; margin-bottom: -50px;}
div.shim{height: 50px; clear: both;}
.footer{width:100%; position: relative; margin-top: -50px; height: 50px; clear: both;}
.footer p, .footer a{color: #c76218 !important; font-size: 12px; text-shadow: 0 1px 0 rgba(255,255,255,.2); text-decoration: none;}
.footer a:hover{ background: #c76218; color: white!important;}
body {background:#2c2a2c; font-size:14px;}
h1.title{float:left;}
ul.menu{margin-bottom:0; font-size:14px;}
ul.menu li{float:left;margin:0;position:relative;}
ul.menu li a{text-decoration:none;display:block;padding:8px 15px 5px 15px; margin:0; color:white;}
ul.menu li a:hover{background-color:#7e3700;color:#fff;}
ul.utility-nav{float: right;}
#submenu ul.menu li a{padding: 2px 10px; margin: 0 2px; font-size: 12px; color: black; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius:3px;}
#submenu ul.menu li a:hover{background-color:#bebebe; color:#34484f;}
#submenu {padding-bottom: 5px; border-bottom: 1px inset #ccc; margin-bottom: 10px;}
#orderForm ul {list-style-type:none;}
#orderForm li {display:inline;}
#menuWrap h1{color: #e3e3be; font-weight: normal;}
#help-button {
    float:right; 
    display: block; 
    cursor:pointer;
    padding: 2px 10px; 
    margin: 0px 2px 10px;
    font-size: 12px; 
    color: white; 
    background-color:green;
    border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius:3px;
}
#help-content {
    border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius:3px;
    color: #5f5f5f; 
    background-color:white;
    margin: 5px 0;
    padding:5px 10px;
    font-size: 12px; 
}
#help-content p {
    margin:7px 0;
}

#main {padding:15px; background-color:#eee; border:1px grey solid; margin-bottom:15px;}
a {color:#34484f;}
a.lightlink {color:white;}

.group-wrap a, a.delete-group{color:#192326;}

a.buttonTop, a.add-row, a.delete-row {
    background-color:#004c00;
    color:white;
    display:block;
    font-size:18px;
    font-weight:bold;
    padding:6px 9px 6px 9px;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    float:right;
    margin-right:10px;
}

input.submit{color: #fff; border: none; 
    background-color:#c76218;
    cursor:pointer;
    float:right;
    font-size:18px;
    font-weight:bold;
    padding:6px 9px 6px 9px;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;}

a.cancel{
    color: #c76218;
    float:left;
    display:block;
    
}
div.save-row{
    border-top: 1px solid #ccc;
    padding: 10px;
    margin:20px 0 0 0;
}

.inline-save{
    background-color:#c76218;
    cursor:pointer;
    float:right;
    font-size:12px;
    font-weight:bold;
    padding:4px 9px;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    color:#ffffff;
    margin-left:20px;
}

.inline-cancel{
    float:right;
    margin-top:3px;
}

#menuWrap{background: black;background: rgba(0,0,0,.5);padding: 10px 0;}
#menu ul li ul li a:hover, a.buttonTop, a.add-row, a.delete-row {
    background-color: #c76218;
}

a.buttonTop:hover, a.add-row:hover, a.delete-row:hover {
    background-color: #c76218;
}

a.buttonTop.last {
    margin-right:0;
}

input, select, textarea {font-family:Arial; font-size:16px; background-color:white;padding: 2px 4px;border: solid 3px #6c8fa0;}
input:focus, select:focus, textarea:focus {background-color:#cde0e8; border-color:#c76218; -webkit-box-shadow: 0 0 5px #c76218; -moz-box-shadow: 0 0 5px #c76218;}
input[type="submit"]{}

span.errorlist {background-color:pink; color:#930823; padding:1px 3px;}

ul.drag {margin:0; padding:0;}
ul.drag li {margin:0 0 10px 0; padding:12px;}
ul.drag.sections li, #variantForms div, #upgradeForms div, p.usage {background-color:#bfb7a9; border:1px solid grey; color:#635d50;}
ul.drag li p {font-size:14px; margin-bottom:0;}
ul.drag li a, a.add-row, a.delete-row {font-size:12px; padding:3px 6px;}
ul.drag.items li, ul.drag.sections li.selected {background-color:#cde0e8; color:#02405a; border:black solid 1px;}
ul.drag h3 {margin-bottom:0;}

ul.items ul {margin:0; padding:5px 0 0;}
ul.items li li {border:none; font-style:italic; font-size:13px; margin:0; padding:0;}
span.pricing {font-size:13px;}

label {display:block; margin-top:13px;}
textarea {width:377px; padding:4px;}
label.price {float:right;}
label.price input {width:40px;}

#variantForms div, #upgradeForms div {padding:15px; margin-bottom:10px;}
#variantForms label, #upgradeForms label {font-size:14px;}
a.delete-row {margin:20px auto auto 20px;}

p.subscribers {background-color:#cde0e8; color:#02405a; border:black solid 1px;}
p.subscribers, p.usage {padding:10px;}

table {width:100%; font-size:13px; clear: both;}
table thead, table th{color:white; background-color:#34484f;}
table tr.shaded {background-color:#cde0e8;}
table tr.total {border-top:1px solid #02405a;}
table td {padding:1px 4px;}
table#subscribers td, table#subscribers td * {vertical-align:middle;}
table#subscribers tr.disabled {color:grey;background-color:#ddd;}
table td.qty {text-align:center;}
table {margin-bottom:0;}
table th a {color:white;text-decoration:none;}
td.total {text-align:right;}

p.charcount {
    float:left;
    font-size:22px;
    font-weight:bold;
    margin-bottom:0;
}

p.charcount.critical {float:left; color:red;}
form.sms-form textarea {margin-bottom:12px; width:450px; height:80px;}
form.sms-form input:focus, form.sms-form textarea:focus {-moz-box-shadow:none; -webkit-box-shadow:none;}
form.sms-form div.sms-wrap {position:relative; margin-bottom:12px; width:455px; height:90px;}
form.sms-form div.sms-wrap textarea {margin-bottom:0;}
form.sms-form p.charcount {position:absolute; bottom:0; right:0;}
form.sms-form div.sms-wrap p.charcount {opacity:0.8;}

#star-status {margin-top:16px;} 
#star-status li {float:left; margin:0 10px 16px 0;}
#star-status li * {display:inline; vertical-align:middle;}

form.sms-form #id_count {width:48px;}

div.pagination {text-align:center; font-size:14px; padding:8px; color:#635d50;}

/***********
* MESSAGES *
***********/

.messages {list-style-type:none;}
.messages li {
    border:1px solid;
    margin-left:0;
    padding:6px;
}
.messages li.success {color:green;background-color:#d3ead3;border-color:green;}
.messages li.warning {color:#704308;background-color:#f9f7c3;border-color:#704308;}
.messages li.error {color:#ae0001;background-color:#f1abab;border-color:#ae0001;}

a.close-message {float:right; color: green;}
.messages li.error a.close-message {float:right; color: #ae0001;}

/********************
* NAV ACTIVE STATES *
********************/

/* top tier */
body.restaurant a.restaurant,
body.site a.site,
body.marketing a.marketing,
body.orders a.orders,
body.account a.account 
{
    color:white !important;
    background-color:#c76218 !important;
}

/* bottom tier */
body.menu a.menu,
body.location a.location,
body.hours a.hours,
body.content a.content,
body.images a.images,
body.pdfs a.pdfs,
body.look a.look,
body.domain a.domain,
body.integrations a.integrations,
body.coupons a.coupons,
body.publish a.publish,
body.subscribers a.subscribers,
body.sms a.sms,
body.history a.history,
body.checkout-messages a.checkout-messages,
body.payment a.payment,
body.order-settings a.order-settings,
body.update-contact a.update-contact,
body.basic a.basic,
body.update-cc a.update-cc,
body.cancel a.cancel
{
    color:white !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .6);
    background-color: rgba(199, 98, 24, .8) !important;
    background-color:#c76218;
}

/* help text */
p.help {font-size:12px;}

/*************************
*  Item/section editing  *
*************************/

h2 span {vertical-align:middle;}

input.error {
    background-color:pink; 
    border-color:#930823;
}
ul.item-container {
    margin-bottom:0;
}
ul.item-container li {
    margin: 5px 0 0 0;
    background-color:white;
    border: 1px navy solid;
    font-size:14px;
    padding: 2px 5px;
    -moz-border-radius:2px;
    -webit-border-radius:2px;
    border-radius:2px;
}
ul.group-wrap > li {
    margin: 0 0 8px 0;
    background-color:#becece !important;
    padding:5px;
    -moz-border-radius:2px;
    -webit-border-radius:2px;
    border-radius:2px;
}
ul.group-wrap ul {
}
ul.item-container li span.controls {
    float:right;
}
li.form {
    padding: 7px !important;
}
li.form label {
    float: left;
    margin-right:15px;
    margin-bottom:3px;
}
li.form label span.msg {
    display:block;
    color:#930823;
    font-weight:bold;
}

/*******************
*  Publish screen  *
*******************/

div.checkbox-select label {margin-top:3px; margin-bottom:7px;}
span.counter {
    font-family: serif; 
    font-style: italic; 
    font-weight: bold;
    font-size:40px;
    padding-left: 20px;
}
#copy-coupon, #copy-coupon input {
    font-size:13px;
}
textarea.markItUpEditor {
    width: 355px;
}
div.markItUpContainer {
    width: 365px;
    float: left;
}
#editorPreview {
    width: 385px;
    margin-left:15px;
    float:left;
}
#editorPreview h1 {
    font-size:1.1em;
}
#editorPreview h2, #editorPreview h3 {
    font-size:0.9em;
}
#editorPreview p, #editorPreview li {
    font-size:0.7em;
}
#editorPreview ul {list-style-type:circle;}

#editorPreview blockquote {margin-left:15px;}

#editorPreview blockquote p { quotes: '"' '"' "'" "'" }

#editorPreview blockquote p:before{
    content: open-quote;
}
#editorPreview blockquote p:after{
    content: close-quote;
}

/********************
* Site pages *
********************/
th{text-align: left;}
th, td{padding: 0 2px;}
h1,h2,h3,h4,h5,h6{font-family: Georgia, serif;}
h3{font-size: 18px; background: #34484f; color: white; font-weight: normal; padding: 5px;}
h3 a{display: inline-block; margin-left: 5px; color: white;font-size: 12px;}
h3 span.buttons a {font-family: "Trebuchet MS",Trebuchet,Tahoma,Verdana,sans-serif;}
h4{font-size: 16px; margin:10px 0 5px 2px;}

th.total, td.total{text-align: right;}


.olControlEditingToolbar{width: 140px !important; background: #fff; background: rgba(255,255,255,.9); border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}

/*****************
 * Image list 
 * **************/

#images {clear:right;}
#images li {float:left; width:91px; text-align:center; margin:15px;}
#images li img {border:8px #dedede solid; cursor:pointer;}
#images li img:hover {border-color:#94cad0;}
#images a {font-size:11px;}
#images li.empty-set {width:100%; text-align:left;}

/********************
* Menu page  *
********************/
div.sections {clear:both;}
ul.section {margin: 0; font-size:13px; border:1px solid gray;}
ul.section ul {margin-bottom:0;}
ul.section li {margin:0;}
li.section-header {overflow: auto; zoom:1;display:block;color:white; background-color:#34484f; font-size:14px; padding:5px;}
li.menu-items li {
    padding:5px 5px 5px 10px;
    background-color:white;
    overflow:auto;
    zoom:1;
    margin:0;
}
li.menu-items li span, li.menu-items li em{display: block;padding: 2px 0;}
li.menu-items li.shaded {background-color:#cde0e8;}
div.controls {float:right;} 
div.controls a { float:right; 
    display:block; 
    color:#4b4b4b; 
    padding:0 5px; 
    text-decoration:none;
    margin:1px 2px;
    font-size:12px;
}
span.section-name{float: left;}
div.section-controls a {
    background-color:#dedede;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
li.menu-items div.controls a {
    height:16px;
    width:16px;
}
div.section-controls a:hover{
    color: #fff;
    background-color:#6c8fa0;
}
li.menu-items div.controls.special {
    float:right;
    clear:none;
}
li.menu-items div.controls.special label {
    display:inline;
}
li.menu-items div.controls.special span, li.menu-items div.controls.special input {
    width:auto;
    display:none;
}
li.menu-items div.controls.special label.hover span, li.menu-items div.controls.special label.hover input {
    display:inline;
    vertical-align:middle;
}
li.menu-items div.controls.special span.out {
    display:inline;
    color:red;
    font-weight:bold;
}
li.menu-items div.controls.special span.archived {
    display:inline;
    color:grey;
    font-weight:bold;
}
li.menu-items ul li{cursor: move;}
li.menu-items ul li.incomplete{background:#cccccc;}

li.menu-items ul li.incomplete span:before{
    content: 'INCOMPLETE: ';
}

span.buttons {float:right;}

span.buttons a, a.chooser, a#price-points, a#extras, a#side-groups, a.button {
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    cursor:pointer;
    display:block;
    float:right;
    font-size:13px;
    margin:0 2px 10px;
    padding:2px 10px;
    text-decoration:none;
}
span.buttons a, a.chooser, a.button {
    background-color:#192326;
    color:white;
}

a#price-points, a#extras, a#side-groups {
    color:white !important;
    background-color:#c76218 !important;
}
a.chooser,a.button{float:none;display:inline-block;margin-top:20px;}
a#side-groups{margin-top:0;}

span.buttons a:hover,a.chooser:hover,a#price-points:hover,a#extras:hover;a#side-groups:hover,a.button:hover {
    background-color:#6c8fa0;
}

/* ORDERS PAGE */
p.usage {text-indent:30px;}
p.greenlight {color:#126612;
    background:#d3ead3 url('../img/Status (Green)_24x24.png') no-repeat 10px center ;
    border-color:#126612;}
p.greenlight a {color:#126612;}
p.redlight {
    color:#ae0001;
    background:#f1abab url('../img/Status (Red)_24x24.png') no-repeat 10px center ;
    border-color:#ae0001;
    }
p.redlight a {color:#ae0001;}
tr.unread, tr.shaded.unread, span.sample-highlight {background-color:yellow;, color:#442200;}
tr.unread a, tr.shaded.unread a {color:#442200;}


dt {margin-top:6px; font-weight:bold;}
dd {padding-left:20px;}


/* HOURS PAGE */

div.day, div.day label{float:left; margin-top: 0;}
div.day{margin-right:10px;}
.day h4{margin-bottom:10px;}
div.day label{clear:left;}
div.day.errors input {background-color:pink; color:#930823; border-color:#930823;}

/* LOCATION PAGE */
div.location{float: left; margin-right: 10px;}

/* PUBLISH PAGE */
#published li, #coupons li {
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-color:white;
    margin-left:0;
    padding:4px;
}
#published li li {
    float: left; 
}

/* MARKETING */
#coupons input {
    font-size:12px;
    border: 1px solid grey;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
#coupons span.count {
    font-weight:bold;
}
#faxlists{margin-top:10px;}
#faxlists li{margin-left:0;margin-bottom:20px;}
#faxlists li a{/*margin-right:10px;*/}
#faxlists li a:first-child{font-weight:bold;display:block;font-size:16px;}
#faxlists li a:last-child{font-size:12px;}


/* SMS */

#sms-numbers {
    margin:14px 0 0 0;
    background-color:white;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:6px 8px;
}

#sms-numbers li {
    width: 127px;
    float:left;
    margin-left:0;
}

#area-code-form {
    margin-bottom:50px;
}

#area-code-form label {
    float:left;
}

#area-code-form label input {
    width:35px;
}

#area-code-form input.submit.go {
    float:left;
    font-size: 14px;
    margin: 12px 0 0 10px;
}

ul.messages.unenrolled {
    margin-bottom:4px;
}

#unread-conversations li, #campaign-list li {
    margin-left:0;
    padding: 3px 6px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

#unread-conversations li, #campaign-list li.white {
    background-color: white;
}

#campaign-list h4 {
    margin:0;
}

#campaign-list span.data {
    float:right;
}
#campaign-list span.data * {
    display:inline;
    vertical-align:middle;
}

#campaign-list span.data strong {
    padding-left:8px;
}


/* PROGRESS */
#progress{color:#ffffff;margin:10px 0 20px;list-style:none;line-height:1em;overflow:auto;}
    #progress li{float:left;width:20%;font-size:0.88em;margin:0;}
    #progress li div{width:29px;height:27px;float:left;margin-right:9px;}
    .prog-1,.prog-2,.prog-3,.prog-4,.prog-5{
        background-image:url(../img/sprite_progress.png);
    }
    .prog-1{background-position: 0 top;}
    .prog-2{background-position: -58px top;}
    .prog-3{background-position: -116px top;}
    .prog-4{background-position: -174px top;}
    .prog-5{background-position: -232px top;}
    
    #progress li a{color:#C86319;font-size:0.88em;}
    
    #progress li.incomplete,#progress li.complete{color:#8C9196;}
    #progress li.incomplete a,#progress li.complete a{color:#994A14;}
    
    li.incomplete .prog-1{background-position: 0 bottom;}
    li.incomplete .prog-2{background-position: -58px bottom;}
    li.incomplete .prog-3{background-position: -116px bottom;}
    li.incomplete .prog-4{background-position: -174px bottom;}
    li.incomplete .prog-5{background-position: -232px bottom;}

    li.complete div{background:url(../img/checkmark.png) center center no-repeat;}
