/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* 960 Grid */
.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px}.container_12 .grid_3,.container_16 .grid_4{width:220px}.container_12 .grid_6,.container_16 .grid_8{width:460px}.container_12 .grid_9,.container_16 .grid_12{width:700px}.container_12 .grid_12,.container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px}.container_12 .suffix_1{padding-right:80px}
.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}.container_12 .push_3,.container_16 .push_4{left:240px}.container_12 .push_6,.container_16 .push_8{left:480px}.container_12 .push_9,.container_16 .push_12{left:720px}.container_12 .push_1{left:80px}.container_12 .push_2{left:160px}.container_12 .push_4{left:320px}.container_12 .push_5{left:400px}.container_12 .push_7{left:560px}.container_12 .push_8{left:640px}.container_12 .push_10{left:800px}.container_12 .push_11{left:880px}.container_16 .push_1{left:60px}.container_16 .push_2{left:120px}.container_16 .push_3{left:180px}.container_16 .push_5{left:300px}.container_16 .push_6{left:360px}.container_16 .push_7{left:420px}.container_16 .push_9{left:540px}.container_16 .push_10{left:600px}.container_16 .push_11{left:660px}.container_16 .push_13{left:780px}.container_16 .push_14{left:840px}.container_16 .push_15{left:900px}.container_12 .pull_3,.container_16 .pull_4{left:-240px}.container_12 .pull_6,.container_16 .pull_8{left:-480px}.container_12 .pull_9,.container_16 .pull_12{left:-720px}.container_12 .pull_1{left:-80px}.container_12 .pull_2{left:-160px}.container_12 .pull_4{left:-320px}.container_12 .pull_5{left:-400px}.container_12 .pull_7{left:-560px}.container_12 .pull_8{left:-640px}.container_12 .pull_10{left:-800px}.container_12 .pull_11{left:-880px}.container_16 .pull_1{left:-60px}.container_16 .pull_2{left:-120px}.container_16 .pull_3{left:-180px}.container_16 .pull_5{left:-300px}.container_16 .pull_6{left:-360px}.container_16 .pull_7{left:-420px}.container_16 .pull_9{left:-540px}.container_16 .pull_10{left:-600px}.container_16 .pull_11{left:-660px}.container_16 .pull_13{left:-780px}.container_16 .pull_14{left:-840px}.container_16 .pull_15{left:-900px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

/* HTML 5 */
header,nav,section,footer{display:block;}

/* Styles */
html,body{height:100%;}

body{font:1em Helvetica,Arial,sans-serif;}

body{background:#d9d4d9 url(../img/bg_body.png) repeat-x;}
/*body#signup{background:#d9d4d9;}*/

header{height:254px;padding-top:50px;position:relative;}
	header a.signup{display:block;width:112px;height:45px;cursor:pointer;}
	header p{font: 1.13em/1.2em Georgia,serif;color:#e0e0e0;margin-top:10px;}

/*#signup header{height:80px;background:url(../img/bg_header.png)repeat-x;}*/

#content{height:364px;position:relative;}

h1{width:523px;height:145px;background:url(../img/text_takeout-tiger.png);}
h2{display:none;}

#signup{background:url(../img/bg_signup.png) repeat;margin-top:45px;}
#signup h1{width:155px;height:41px;background:url(../img/sprite_forms.png) left top no-repeat;margin-left:51px;}

legend{width:460px;height:33px;display:block;overflow:auto;background-image:url(../img/sprite_forms.png);background-repeat:no-repeat;}
legend#one{background-position:left -54px;}
legend#two{background-position:left -108px;}
legend#three{background-position:left -162px;}
label{/*margin:0 0 0 51px;*/padding-top:20px;display:block;position:relative;top:0;left:51px;color:#e0e0e0;font:1.13em Georgia,serif;}
.domain label{padding:0;}
label.promo{margin-bottom:20px;}
input[type=text],input[type=password]{width:371px;font-size:1em;padding:0 3px;margin:0 !important;height:29px;background-color:#E0E0E0;border:0;top:0;left:0;}
label span{width:382px;height:34px;background:url(../img/sprite_forms.png) left bottom no-repeat;display:block;padding:5px 0 0 5px;}
h3{background:#34484f;margin:30px 0 10px;padding:6px;color:#d9d4d9;font:normal 0.81em Georgia,serif;}

fieldset.billing{margin-top:40px;}
    fieldset.billing ul{margin-left:51px;}
    fieldset.billing li{float:left;margin-left:5px;}

fieldset.domain{margin:40px 0 0;}
fieldset.domain label{overflow:auto;}
fieldset.domain label span{margin-right:10px;width:301px;background:url(../img/sprite_forms.png)left -215px no-repeat;}
fieldset.domain input[type=text]{width:290px;font-size:1em;padding:0 3px;}
fieldset.domain label span,fieldset.domain strong{float:left;}
fieldset.domain span.errorlist{margin-left:118px;font-size:0.88em;}

fieldset p{font-size:0.81em;margin:10px 51px 20px;color:#E0E0E0;line-height:1.2;}

p.availability{margin-top:131px;}
span.looking{width:137px;height:20px;display:block;margin-top:10px;background:url(../img/bg_domain-looking.gif) left top no-repeat;}
span.yes,span.no{height:42px;display:block;background-image:url(../img/sprite_forms.png);background-repeat:no-repeat;}
span.yes{width:250px;background-position:left -324px;}
span.no{width:213px;background-position:left -378px;}

#passwords div{float:left;}
#passwords div label{width:387px;}
#passwords h3{width:448px;}
p.passwords{/*margin-top:263px;*/float:left;position:absolute;top:64%;left:510px;}
span.matches,span.no-match{height:42px;display:block;background-image:url(../img/sprite_forms.png);background-repeat:no-repeat;}
span.matches{width:206px;background-position:left -540px;}
span.no-match{width:265px;background-position:left -594px;}

fieldset.domain strong,label.expiration strong{font-weight:normal;padding-top:8px;margin-right:10px;}

input[type=submit]{width:136px;height:45px;margin-top:40px;margin-left:51px;/*float:right;*/cursor:pointer;background:url(../img/sprite_buttons.png) top center no-repeat;border:0;}
input[type=submit]:hover{background:url(../img/sprite_buttons.png) bottom center no-repeat;}
input[type=submit]:active{position:relative;top:1px;}

label.expiration{overflow:auto;float:left;padding:0;}
label.expiration input[type=text]{width:44px;}
label.expiration span{width:56px;background:url(../img/sprite_forms.png) left -269px no-repeat;float:left;}
label.expiration strong{float:left;margin:0 10px;}

span.errorlist{color:#ffffff;display:inline;background:#EB1C23;padding:0;font-size:0.75em;margin-left:10px;}

.thanks{background:#192326;padding:20px 0 0 0;margin-top:50px;position:relative;}
.thanks p{color:#33494f;margin:0 20px;padding:15px 0;font-size:1em;line-height:1.3;color:#E0E0E0;border-top:3px solid #6C8FA0;/*text-shadow:0px 1px 0px rgba(255,255,255,0.20);*/}
.thanks img{margin-left:-8px;margin-bottom:10px;}
.thanks .note{font-size:0.75em;line-height:1.3;display:block;margin-top:10px;}

#price{padding:20px 0 0;background:#192326;/*margin-top:-23px;*/}
#price p{height:54px;margin-top:0;background:#192326 url(../img/sprite_forms.png) 20px -432px no-repeat;}
#price ul{color:#e0e0e0;margin:0 20px 0;padding:20px 0 0 20px;list-style-image:url(../img/bullet_form-list.png);border-top:3px solid #6C8FA0;}
#price li{margin-bottom:20px;padding-left:10px;}

img.tiger{position:absolute;top:-210px;left:30px;z-index:100;}

.free-trial{width:262px;height:37px;background:url(../img/sprite_forms.png) 0 -648px no-repeat;display:block;margin:0 20px 10px ;}
#promo{width:262px;height:67px;background:url(../img/sprite_forms.png) 0 -702px no-repeat;position:absolute;top:-16px;left:14px;}

.callout{height:240px;background:url(../img/bg_callout.png);margin-top:45px;padding:20px 0 0 40px;width:500px !important;}
	.callout a.signup{display:block;width:145px;height:58px;cursor:pointer;position:absolute;top:230px;right:40px;}

.orange-bar{height:67px;background:url(../img/bg_orange-bar.png) repeat-x;/*position:relative;top:-280px;*/}

hr{border:0 #34484F solid;border-top-width:1px;clear:both;height:0;margin-top:50px;}

.form-header{/*background:#6C8FA0;*/padding:20px;border:1px solid #1c2a2c;font-size:1.2em;}

.billing p{margin-top:30px;}
.billing a{font-size:1.2em;color:#6C8FA0;}

footer{height:75px;}
footer div{margin:13px 0;padding-top:15px;}
footer ul{float:right;}
footer ul li{float:left;margin-left:20px;}
#signup footer div{margin:35px 0;padding-top:15px;border-top:3px solid #34484F;}
footer a{color:#34484F;font-size:0.81em;}

/* Hide text */
h1,a.signup,legend#one,legend#two,legend#three,span.no,span.yes,span.looking,#price p,span.matches,span.no-match{text-indent:-9999px;}

/* LoopedSlider */
.container {width:460px;height:240px;padding-right:40px;overflow:hidden;position:relative;}
div.slides {position:absolute;top:0;left:0;}
div.slides > div {position:absolute;top:0;width:460px;display:none;padding:0;margin:0;padding-right:40px;}

div.slides > div h2{display:block;font:1.5em/2.25em Georgia,serif;color:#e4e4e4;}
div.slides > div p{font:1em/1.31em "Trebuchet MS",sans-serif;color:#e4e4e4;}

.pagination{margin-top:10px;}
.pagination li{float:left;margin-right:10px;}
.pagination li a{display:block;width:10px;height:9px;background:url(../img/bg_pager.png)left top;}
.pagination li.active a{background:url(../img/bg_pager.png)right top;}
/* BLOG */
#blog{background:url(../img/bg_signup.png) repeat;}
#blog nav{margin-bottom:30px;}
#blog nav a{float:right;color:#34484F;font-size:0.81em;}
#blog header{height:auto;padding-top:20px;}
#blog article{margin-bottom:1em;}
#blog h1{background:0;height:auto;width:auto;margin-left:150px;}
#blog h1 a{display:block;width:480px;height:63px;background:url(../img/header_blog.png);}
#blog h2{display:block;font-size:1.5em;margin-bottom:1em;}
#blog h2 a{text-decoration:none;}
#blog h3{margin-bottom:0.5em;padding:0;background:0;font:1em;color:#E0E0E0;font-size:1.25em;}
#blog span{color:#33494F;font-size:0.88em;margin-bottom:0.5em;display:block;}
#blog span strong{color:#E0E0E0;}
#blog .post-content p a, #blog span a,#blog aside a,#blog h2 a{color:#6C8FA0;}
#blog p {line-height:1.75;}
#blog p, #blog .post-content ul li {color:#fff;margin-bottom:1em;font-family:Georgia,Times,serif;}
#blog hr{margin:1em 0 2em;}
#blog aside li{margin-bottom:0.5em;}
#blog aside li:last-child{margin:0;}
#archives div{padding:10px;background-color:#192326;}
#blog footer div{margin:35px 0;padding-top:15px;border-top:3px solid #34484F;}
#blog .post-content ul {list-style:disc inside;}
#blog .post-content p a
