{% extends 'base.html' %}

{% block title %}
| {{ item.section.name }} | {{ item.name }}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.fancybox-1.2.6.pack.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.fancybox-1.2.6.css" />
{% endblock %}

{% block content %}
{% comment %}
<a id="addToCart" href="{% url order_item item.id %}"><img src="{{ MEDIA_URL }}img/cart_put.png" /> Order</a>
{% endcomment %}
<h1>{{ item.name }}</h1>
<div>
{% if item.photo %}
<img src="{{ item.photo.image.url }}" />
{% endif %}
{{ item.description|linebreaks }}
<a href="{{ item.section.get_absolute_url }}">&laquo; back to {{ item.section.name }}</a>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("#addToCart").fancybox();
});
</script>
{% endblock %}
