{% extends 'base.html' %}

{% block title %}
| {{ item.section.name }} | {{ item.name }}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock %}

{% block content %}
{% if not form and site.enable_orders and item.available %}
<a class="add top" href="{% url order_item item.section.slug item.slug %}">add to order</a>
{% endif %}
{% if not item.available %}
    <ul class="messages">
        <li class="warning">This menu item is currently unavailable.</li>
    </ul>
{% endif %}
<h1>{{ item.name }}{% if item.spicy %} <span class="pepper">❧</span>{% endif %}{% if item.vegetarian %} <span class="veg">veg</span>{% endif %}</h1>
<div>
{% if item.image %}
<img class="inset-left" src="{{ item.image.medium.url }}" />
{% endif %}
{% if item.description %}
{{ item.description|linebreaks }}
{% endif %}
{% block form %}
{% endblock %}
<a href="{{ item.section.get_absolute_url }}">&laquo; back to {{ item.section.name }}</a>
</div>
{% endblock %}

{% block js %}
{% endblock %}
