{% extends 'dashboard/marketing/home.html' %}

{% block body-class %}{{ block.super }}coupons{% endblock %}

{% block h2 %}
Your coupons
{% endblock %}

{% block help %}
<p>This is a list of all your existing coupons.  Users can visit the link for each coupon to add it to their order.</p>
{% endblock %}

{% block content %}
<span class="buttons">
<a href="{% url dashboard_add_coupon %}">+ Add a coupon</a>
</span>
<table>
    <thead>
        <tr>
            <th>Coupon code</th>
            <th>Discount</th>
            <th>Expiration date</th>
            <th>Total uses remaining</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
    {% for coupon in coupons %}
    <tr>
        <td>{{ coupon.short_code }}</td>
        <td>{{ coupon.discount }}%</td>
        <td>{{ coupon.exp_date|date|default:"no exp. date" }}</td>
        <td>{{ coupon.remaining_clicks|default_if_none:"no limit" }}</td>
        <th><input type="text" readonly value="{{ site }}{{ coupon.get_absolute_url }}" /></th>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="clear"></div>
{% endblock %}
