{% extends 'dashboard/marketing/home.html' %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/media/css/widgets.css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/ui-lightness/jquery-ui.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <style type="text/css">
    #id_discount {width:30px;}
    </style>
{% endblock %}

{% block body-class %}{{ block.super }}coupons{% endblock %}

{% block h2 %}
{% if form.initial|length %}Edit{% else %}Create a new{% endif %} coupon
{% endblock %}

{% block help %}
<p>We track usage of the coupon regardless of whether you set restrictions on coupon usages.</p>
<p>Once you've created a coupon, you can advertise with it on the <a href="{% url dashboard_publish %}">Publish</a> screen.</p>
{% endblock %}

{% block content %}

<form method="POST" action=".">
<label>{{ form.short_code.label }} {% if form.short_code.errors %} {{ form.short_code.errors }} {% endif %}</label>
{{ form.short_code }}
<p class="help">{{ form.short_code.help_text }}</p>
<label>{{ form.discount.label }} {% if form.discount.errors %} {{ form.discount.errors }} {% endif %}</label>
{{ form.discount }}%
<label>{{ form.exp_date.label }} {% if form.exp_date.errors %} {{ form.exp_date.errors }} {% endif %}</label>
{{ form.exp_date }}
<label>{{ form.max_clicks.label }} {% if form.max_clicks.errors %} {{ form.max_clicks.errors }} {% endif %}</label>
{{ form.max_clicks }}
<div class="clear"></div>
<div class="save-row">
<a class="cancel" href="{% url dashboard_coupon_list %}">Cancel</a>
<input type="submit" class="submit" value="Save" />
</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("#id_exp_date").datepicker();
});
</script>
{% endblock %}

