{% extends 'dashboard/marketing/home.html' %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/media/css/widgets.css" />
{% endblock %}

{% block body-class %}{{ block.super }}coupons{% endblock %}

{% block h2 %}
{% if form.initial|length %}Edit{% else %}Create a new{% endif %} coupon
{% endblock %}

{% block help %}
<p>We track usage of the coupon regardless of whether you set restrictions on coupon usages.</p>
<p>Once you've created a coupon, you can advertise with it on the <a href="{% url dashboard_publish %}">Publish</a> screen.</p>
{% endblock %}

{% block content %}

<form method="POST" action=".">
{{ form.as_p }}
<div class="clear"></div>
<div class="save-row">
<a class="cancel" href="{% url dashboard_marketing %}">Cancel</a>
<input type="submit" class="submit" value="Save" />
</div>
</form>
{% endblock %}

{% block js %}
{% endblock %}

