{% extends 'dashboard/marketing/home.html' %}

{% block namespace %}xmlns:fb="http://www.facebook.com/2008/fbml"{% endblock %}

{% block body-class %}{{ block.super }}integrations{% endblock %}

{% block h2 %}
Social media integrations
{% endblock %}

{% block help %}
<p>This is where you manage your accounts with external services that integrate with your Takeout Tiger application. All of these are free or freemium services, and you can create accounts by following the links below. </p>
{% endblock %}

{% block content %}

        <h3>Twitter</h3>
        <p>
        {% if site.twitter %}
            Connected to <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a>
            <a href="{% url dashboard_add_twitter %}">(change)</a>
        {% else %}
            <a href="{% url dashboard_add_twitter %}">Connect your Twitter account</a>
        {% endif %}
        </p>
        <h3>Facebook</h3>
        <p id="facebook">
		<a id="facebook-button" href="#">Connect</a>
        </p>
        <h3>Mailchimp</h3>
        <div id="mailchimp-settings">
        {% if not site.social.mailchimp_api_key %}
            <form method="POST" action="{% url dashboard_add_mailchimp %}">
                <label id="mailchimp-key">Your MailChimp API key: <input type="text" name="api_key" /> </label>
                <input type="submit" value="Save">
            </form>
            <p>If you already have a MailChimp account, you can retrieve your API key <a target="_blank" href="http://admin.mailchimp.com/account/api-key-popup">here</a>.</p>
        {% else %}
            <p>Current API key: {{ site.social.mailchimp_api_key }}</p>
            {% if not site.social.mailchimp_list_name %}
            <form method="POST" action="{% url set_mailchimp_list %}">
                <select name="mail_list">
                {% for id, name in site.social.mailchimp_lists %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
                </select>
                <input type="submit" value="Add" />
            </form>
            {% else %}
            <p>Current mailing list: {{ site.social.mailchimp_list_name }}</p>
            <form method="POST" action="{% url edit_mailchimp_settings %}">
            <label>{{ mailchimp_form.mailchimp_allow_signup }} {{ mailchimp_form.mailchimp_allow_signup.label }}</label>
            {{ mailchimp_form.mailchimp_send_blast.label_tag }}
            {{ mailchimp_form.mailchimp_send_blast }}
            <input type="submit" value="Save" />
            </form>
            {% endif %}
        {% endif %}
        </div>
{% endblock %}

{% block js %}
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
	FB.init({appId: '314120522290', status: true, cookie: true, xfbml: true});
	$("#facebook-button").click(function () {
		FB.login(function (response) {
			uid = response.session.uid;
			 var query = FB.Data.query('SELECT uid, publish_stream FROM permissions WHERE publish_stream=1 AND uid IN (SELECT page_id FROM page_admin where uid={0})', uid);
			 query.wait(function(rows) {
				page_id = rows[0]['uid'];
				q2 = FB.Data.query('SELECT page_id, page_url FROM page WHERE page_id={0}', page_id);
				q2.wait(function (rows) {
					 $.post("{% url register_id %}", $.param({id: page_id, url: rows[0]['page_url']}));
				});
			 });

		},
		{
			perms: 'publish_stream',
			enable_profile_selector: true
		});
	});
</script>
{% endblock %}

