{% extends 'dashboard/marketing/home.html' %}

{% block namespace %}xmlns:fb="http://www.facebook.com/2008/fbml"{% endblock %}

{% block extrahead %}
<script src="{{ MEDIA_URL }}js/json2.js"></script>
{% endblock %}

{% block body-class %}{{ block.super }}integrations{% endblock %}

{% block h2 %}
Social media integrations
{% endblock %}

{% block help %}
<p>This is where you manage your accounts with external services that integrate with your Takeout Tiger application. All of these are free or freemium services, and you can create accounts by following the links below. </p>
{% endblock %}

{% block content %}

        <h3>Twitter</h3>
        <p>
        {% if site.twitter %}
            Connected to <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a>
            <a href="{% url dashboard_add_twitter %}">(change)</a> / <a href="{% url dashboard_remove_twitter %}">(remove)</a>
            <label class="ajax-checkbox"><input name="twitter_auto_items" type="checkbox"{% if site.social.twitter_auto_items %} checked{% endif %} /> Automatically tweet new menu items</label>
        {% else %}
            <a href="{% url dashboard_add_twitter %}">Connect your Twitter account</a>
        {% endif %}
        </p>
        <h3>Facebook</h3>
        <div>
            {% if not site.social.facebook_token %}
                <a id="facebook-button" href="#">Connect</a>
            {% else %}
                <a href="#">Deauthorize</a>
            {% endif %}
        </div>
        {% if site.social.facebook_token %}
        <p id="facebook">

        {% with site.social as social %}
        {% include social.facebook_fragment %}
        {% endwith %}
        </p>
        {% endif %}
        <h3>Mailchimp</h3>
        <div id="mailchimp-settings">
        {% if not site.social.mailchimp_api_key %}
            <form method="POST" action="{% url dashboard_add_mailchimp %}">
                <label id="mailchimp-key">Your MailChimp API key: <input type="text" name="api_key" /> </label>
                <input type="submit" value="Save">
            </form>
            <p>If you already have a MailChimp account, you can retrieve your API key <a target="_blank" href="http://admin.mailchimp.com/account/api-key-popup">here</a>.</p>
        {% else %}
            <p>Current API key: {{ site.social.mailchimp_api_key }}</p>
            {% if not site.social.mailchimp_list_name %}
            <form method="POST" action="{% url set_mailchimp_list %}">
                <label>Choose the mailing list you want to use:</label>
                <select name="mail_list">
                {% for id, name in site.social.mailchimp_lists %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
                </select>
                <label>Your "From" e-mail address for campaigns:</label>
                <input type="text" name="from_email" />
                <input type="submit" value="Save" />
            </form>
            {% else %}
            <p>Current mailing list: {{ site.social.mailchimp_list_name }}</p>
            <p>Your "From" e-mail address for campaigns: {{ site.social.mailchimp_from_email }}</p>
            <form method="POST" action="{% url edit_mailchimp_settings %}">
            <label>{{ mailchimp_form.mailchimp_allow_signup }} {{ mailchimp_form.mailchimp_allow_signup.label }}</label>
            {{ mailchimp_form.mailchimp_send_blast.label_tag }}
            {{ mailchimp_form.mailchimp_send_blast }}
            <div class="save-row">
            <input type="submit" class="submit" value="Save" />
            </div>
            </form>
            {% endif %}
        {% endif %}
        </div>
{% endblock %}

{% block js %}
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({appId: '314120522290', status: true, cookie: true, xfbml: true});
$("#facebook-button").click(function () {
    FB.login(function (response) {
        if (response.session) {
            if (response.perms) {
                $.post("{% url register_id %}", {}, function (data) {
                    $("#facebook").html(data);
                });
            } else {
            }
        }
    }, {perms: 'manage_pages,publish_stream,offline_access'});
});
$(function () {
    $("label.ajax-checkbox input").live("click", function () {
        params = {};
        params[$(this).attr("name")] = $(this).attr("checked");
        postData = $.param({'data': JSON.stringify(params)});
        $.post("{% url integration_settings %}", postData, function (data) {

        }, "json");
    });
    $("#change-fb-page").live("click", function () {
        $("#facebook").load("{% url change_fb_page %}");
        return false;
    });
    $("ul.fb-page-list :radio").live("click", function () {
        $.post("{% url change_fb_page %}", $(this).serialize(), function (data) {
            $("#facebook").html(data);
        });
        return false;
    });
});
</script>
{% endblock %}

