{% extends 'dashboard/marketing/home.html' %}

{% block namespace %}xmlns:fb="http://www.facebook.com/2008/fbml"{% endblock %}

{% block body-class %}{{ block.super }}integrations{% endblock %}

{% block content %}

        <h3>Twitter</h3>
        <p>
        {% if site.twitter %}
            Connected to <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a>
            <a href="{% url dashboard_add_twitter %}">(change)</a>
        {% else %}
            <a href="{% url dashboard_add_twitter %}">Connect your Twitter account</a>
        {% endif %}
        </p>
        <h3>Facebook</h3>
        <p id="facebook">
        <fb:login-button onlogin="getPerms();"></fb:login-button>
        </p>
        <h3>Mailchimp</h3>
        <div id="mailchimp-settings">
        {% if not site.social.mailchimp_api_key %}
            <form method="POST" action="{% url dashboard_add_mailchimp %}">
                <label id="mailchimp-key">Your MailChimp API key: <input type="text" name="api_key" /> </label>
                <input type="submit" value="Save">
            </form>
            <p>If you already have a MailChimp account, you can retrieve your API key <a target="_blank" href="http://admin.mailchimp.com/account/api-key-popup">here</a>.</p>
        {% else %}
            <p>Current API key: {{ site.social.mailchimp_api_key }}</p>
            {% if not site.social.mailchimp_list_name %}
            {{ site.social.get_mailchimp_lists }}
            {% else %}
            <p>Current mailing list: {{ site.social.mailchimp_list_name }}</p>
            <form method="POST" action="{% url edit_mailchimp_settings %}">
            <label>{{ mailchimp_form.mailchimp_allow_signup }} {{ mailchimp_form.mailchimp_allow_signup.label }}</label>
            {{ mailchimp_form.mailchimp_send_blast.label_tag }}
            {{ mailchimp_form.mailchimp_send_blast }}
            <input type="submit" value="Save" />
            </form>
            {% endif %}
        {% endif %}
        </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"></script>
<script type="text/javascript">
FB.init("{{ FB_API_KEY }}","{% url xd_receiver %}");

function getPerms() {
	FB.Connect.showPermissionDialog('publish_stream', function (perms) {
		if (perms) {
			api = FB.Facebook.apiClient;
			api.fql_query('SELECT uid, publish_stream FROM permissions WHERE publish_stream=1 AND ' +
			'uid IN (SELECT page_id FROM page_admin WHERE uid=' + FB.Connect.get_loggedInUser() + ')', function (rows) {
				page_id = rows[0]['uid'];
				api.fql_query('SELECT page_id, page_url FROM page WHERE page_id=' + page_id, function (rows) {
					$.post("{% url register_id %}", $.param({id: page_id, url: rows[0]['page_url']}));
				});
});
		}
	}, true);
}
</script>
{% endblock %}

