{% extends 'dashboard/marketing/home.html' %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block body-class %}{{ block.super }} publish{% endblock %}

{% block h2 %}
Your published news items
{% endblock %}

{% block help %}
<p>Use this form to publish marketing materials on your site and Twitter, Facebook, e-mail (via MailChimp), and fax simultaneously.</p>
<p>You must have the respective accounts configured on the <a href="{% url dashboard_marketing %}">Integrations</a> screen to send through Twitter, Facebook, or MailChimp.</p>
{% endblock %}

{% block content %}
<span class="buttons">
    <a href="{% url dashboard_publish_new %}">+ Add an Item</a>
</span>
<div class="clear"></div>
<ul id="published">
    {% for item in items %}
    <li>
        
        <h3>    
            {{ item.title }}
            <span class="buttons">
            <a class="delete" href="{% url dashboard_publish_delete item.id %}">delete</a>
            <a href="{% url dashboard_publish_detail item.id %}">edit</a>
        </span>
        </h3>
        <ul>
            <li>
                {% if item.visible %}
                <a href="{{ item.get_absolute_url }}">View on your site</a>
                {% else %}
                not published on your site
                {% endif %}
            </li> 
            <li>
                {% if item.twitter %}
                <a href="{{ item.twitter }}">On Twitter</a>
                {% else %}
                not published to Twitter
                {% endif %}
            </li> 
            <li>
                {% if item.facebook %}
                <a href="{{ item.facebook }}">On Facebook</a>
                {% else %}
                not published to Facebook
                {% endif %}
            </li> 
            <li>
                {% if item.mailchimp %}
                <a href="{{ item.mailchimp }}">Your MailChimp Campaign</a>
                {% else %}
                no MailChimp campaign created
                {% endif %}
            </li> 
            <li>
                {% with item.fax_count as fc %}
                Faxed to {{ fc }} recipient{{ fc|pluralize }}
                {% endwith %}
            </li> 
        </ul>
        <div class="clear"></div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("a.delete").live("click", function () {
        h3Text = $(this).parent().hasClass("section-controls") ? "section" : "item";
        c = confirm("Are you sure you want to delete this " + h3Text + "? This action cannot be undone.");
        if (!c)
            return false;
    });
});
</script>
{% endblock %}
