{% extends 'dashboard/marketing/home.html' %}

{% block namespace %}xmlns:fb="http://www.facebook.com/2008/fbml"{% endblock %}

{% block extrahead %} {{ form.media }} <style>
#id_title {width:620px; height:60px;}
#submit {float:right;}
div.checkbox-select {clear:left;}
div.checkbox-select label {float:left;}
div.checkbox-select select {margin-left:20px;}
</style>
{% endblock %}

{% block body-class %}{{ block.super }} publish{% endblock %}

{% block h2 %}
Publish to the web
{% endblock %}

{% block help %}
<p>Use this form to publish marketing materials on your site and Twitter, Facebook, e-mail (via MailChimp), and fax simultaneously.</p>
<p>You must have the respective accounts configured on the <a href="{% url dashboard_marketing %}">Integrations</a> screen to send through Twitter, Facebook, or MailChimp.</p>
{% endblock %}

{% block content %}
{% if form.errors %}
<span class="errorlist">There are errors below.</span>
{% endif %}
<form method="POST">
<label>
<h3>Title text </h3>
<p class="help">{{ form.title.help_text }}</p>
 {% if form.title.errors %} {{ form.title.errors }} {% endif %}
{{ form.title }}<span class="counter"></span>
</label>
<div id="editor">
<h3>Body text</h3>
<p class="help">{{ form.body.help_text }}</p>
    {{ form.body }} 
    <div class="block" id="editorPreview"></div>
</div>
<div class="clear"></div>
<h3>Where do you want to send this?</h3>
<p class="help">This will automatically be posted in the "News" section of your website, Twitter, Facebook, and MailChimp if you have those accounts configured.</p>
<div class='checkbox-select'>
{% if form.visible.errors %}
{{ form.visible.errors }}
{% endif %}
<label>{{ form.visible }} {{ form.visible.label }}</label>
</div>
<div class='checkbox-select'>
{% if form.send_twitter.errors %}
{{ form.send_twitter.errors }}
{% endif %}
<label>{{ form.send_twitter }} {{ form.send_twitter.label }}</label>
</div>
<div class='checkbox-select'>
{% if form.send_facebook.errors %}
{{ form.send_facebook.errors }}
{% endif %}
<label>{{ form.send_facebook }} {{ form.send_facebook.label }}</label>
</div>
<div class='checkbox-select'>
{% if form.send_mailchimp.errors %}
{{ form.send_mailchimp.errors }}
{% endif %}
<label>{{ form.send_mailchimp }} {{ form.send_mailchimp.label }}</label>
</div>
<div class='checkbox-select'>
{% if form.send_fax.errors %}
{{ form.send_fax.errors }}
{% endif %}
<label>{{ form.send_fax }} {{ form.send_fax.label }}</label> {{ form.fax_list }}
<div class="clear"></div>
<h3>When do you want to send this?</h3>
<div class='checkbox-select'>
    {{ form.when }}
    <div class="clear"></div>
    <div class="publish-time" style="display:none;">
    {% if form.publish_time.errors %}
    {{ form.publish_time.errors }}
    {% endif %}
    {{ form.publish_date }} @ {{ form.publish_time }}
    </div>
</div>
<div class="clear"></div>
<div class="save-row clearfix">
<a class="cancel" href="{% url dashboard_publish %}">Cancel</a>
<input type="submit" value="Publish" class="submit buttonTop" />
</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("#id_fax_list").hide();
    $("#id_send_fax").each(function () {
        if ($(this).attr("checked")) {
            $(this).parent().next(":input").show();
        }
    });
    $("#id_send_fax").click(function () {
        if ($(this).attr("checked")) {
            $(this).parent().next(":input").show();
        } else {
            $(this).parent().next(":input").hide();
        }
    });
    if ($("input[name='when']:checked").val() === "later") {
        $("div.publish-time").show();
    }
    $("input[name='when']").change(function () {
        if ($(this).val() === "now") {
            $("div.publish-time").hide();
        } else {
            $("div.publish-time").show();
        }
    });
    $("#id_body").keyup(function () {
        trgt = this;
        $.post("{% url dashboard_publish_preview %}", $.param({preview: $(trgt).val()}), function (data) {
            $("#editorPreview").html(data);
        }, "html");
    });
    $("#id_title").keyup(function () {
        $("span.counter").text($(this).val().length);
    });
    $("#id_title").blur(function () {
        if ($("#editorPreview").find("h1").length) {
            $("#editorPreview h1").text($(this).val());
        } else {
            $("#editorPreview").prepend("<h1>" + $(this).val() + "</h1>");
        }
    });
});
</script>
{% endblock %}
