{% extends 'dashboard/marketing/home.html' %}

{% block namespace %}xmlns:fb="http://www.facebook.com/2008/fbml"{% endblock %}

{% block extrahead %} {{ form.media }} <style>
#id_title {width:620px; height:60px;}
#submit {float:right;}
div.checkbox-select {clear:left;}
div.checkbox-select label {float:left;}
div.checkbox-select select {margin-left:20px;}
</style>
{% endblock %}

{% block body-class %}{{ block.super }} publish{% endblock %}

{% block h2 %}
Publish to the web
{% endblock %}

{% block help %}
<p>Use this form to publish marketing materials on your site and Twitter, Facebook, e-mail (via MailChimp), and fax simultaneously.</p>
<p>You must have the respective accounts configured on the <a href="{% url dashboard_marketing %}">Integrations</a> screen to send through Twitter, Facebook, or MailChimp.</p>
{% endblock %}

{% block content %}
{% if form.errors %}
<span class="errorlist">There are errors below.</span>
{% endif %}
<form method="POST">
<div class='checkbox-select'>
<label>{{ form.add_pdf }} {{ form.add_pdf.label }}</label> {{ form.pdf }}
</div>
<div class="clear"></div>
<label>
<h3>Title text </h3>
<p class="help">{{ form.title.help_text }}</p>
 {% if form.title.errors %} {{ form.title.errors }} {% endif %}
{{ form.title }}<span class="counter"></span>
</label>
<div id="editor">
<h3>Body text</h3>
<p class="help">{{ form.body.help_text }}</p>
    {{ form.body }} 
    <div class="block" id="editorPreview"></div>
</div>
<div class="clear"></div>
<h3>Where do you want to send this?</h3>
<p class="help">This will automatically be posted in the "News" section of your website, Twitter, Facebook, and MailChimp if you have those accounts configured.</p>
<div class='checkbox-select'>
{% if form.visible.errors %}
{{ form.visible.errors }}
{% endif %}
<label>{{ form.visible }} {{ form.visible.label }}</label>
</div>
<div class='checkbox-select'>
{% if form.twitter.errors %}
{{ form.twitter.errors }}
{% endif %}
<label>{{ form.twitter }} {{ form.twitter.label }}</label>
</div>
<div class='checkbox-select'>
{% if form.facebook.errors %}
{{ form.facebook.errors }}
{% endif %}
<label>{{ form.facebook }} {{ form.facebook.label }}</label>
</div>
<div class='checkbox-select'>
{% if form.mailchimp.errors %}
{{ form.mailchimp.errors }}
{% endif %}
<label>{{ form.mailchimp }} {{ form.mailchimp.label }}</label>
</div>
<div class='checkbox-select'>
{% if form.fax.errors %}
{{ form.fax.errors }}
{% endif %}
<label>{{ form.fax }} {{ form.fax.label }}</label> {{ form.fax_list }}
</div>
<div class="clear"></div>
<div class="save-row clearfix">
<a class="cancel" href="{% url dashboard_publish %}">Cancel</a>
<input type="submit" value="Publish" class="submit buttonTop" />
</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("#id_pdf,#id_coupon,#id_fax_list").hide();
    $("#id_add_pdf,#id_add_coupon,#id_fax").each(function () {
        if ($(this).attr("checked")) {
            $(this).parent().next(":input").show();
        }
    });
    $("#id_add_pdf,#id_add_coupon,#id_fax").click(function () {
        if ($(this).attr("checked")) {
            $(this).parent().next(":input").show();
        } else {
            $(this).parent().next(":input").hide();
        }
    });
    $("#id_coupon").change(function () {
        couponId = $(this).val();
        if (couponId) {
            $.get("fetch-coupon/", $.param({coupon: couponId}), function (data) {
               $("#id_title").val(data['boilerplate']); 
               $("#id_coupon").after('<label id="copy-coupon">Link to add coupon to an order: <input readonly value="' + data['short_url'] + '" /> This will automatically be added to Twitter and Facebook updates.</label>');
            }, "json");
        }
    });
    $("#id_body").keyup(function () {
        trgt = this;
        $.post("{% url dashboard_publish_preview %}", $.param({preview: $(trgt).val()}), function (data) {
            $("#editorPreview").html(data);
        }, "html");
    });
    $("#id_title").keyup(function () {
        $("span.counter").text($(this).val().length);
    });
    $("#id_title").blur(function () {
        if ($("#editorPreview").find("h1").length) {
            $("#editorPreview h1").text($(this).val());
        } else {
            $("#editorPreview").prepend("<h1>" + $(this).val() + "</h1>");
        }
    });
});
</script>
{% endblock %}
