{% extends 'dashboard/marketing/home.html' %}

{% block body-class %}{{ block.super }}sms{% endblock %}

{% block h2 %}
Conversation with {{ number }}
{% endblock %}

{% block help %}
{% endblock %}

{% block content %}
{% if subscriber %}
{% if not subscriber.is_active %}
<p class="help">
This number has opted out of SMS communications, which means you can no longer text them.
</p>
{% endif %}
{% else %}
<p class="help">
This number is not on your subscriber list.
</p>
{% endif %}
<ul id="thread">
    {% for sms in thread %}
    <li class="{% if sms.destination == 'outbound' %}you{% endif %}">
        <span class="timestamp">{{ sms.get_timestamp }}</span>
        <span class="message">{{ sms.body }}</span>
        <div class="clear"></div>
    </li>
    {% endfor %}
</ul>
<div class="save-row clearfix">
<a class="cancel" href="{% url inbox %}">Back to Conversations</a>
{% if not subscriber or subscriber.is_active %}
<input type="submit" value="Reply" class="submit buttonTop" />
{% endif %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("input[type='submit']").click(function() {
        url = "{% url send_single_sms number %}";
        $.fancybox({href: url});
        return false;
    });
});
</script>
{% endblock %}
