{% extends 'dashboard/marketing/home.html' %}
{% load sorting_tags %}
{% load pagination_tags %}

{% block body-class %}{{ block.super }}subscribers{% endblock %}

{% block h2 %}
{{ current_list.name }}
{% endblock %}

{% block help %}
<p>You can sort the current list by clicking on the "Name" and "Fax number" headings.</p>
{% endblock %}

{% block content %}
<a class="buttonTop last" href="{% url dashboard_add_subscriber current_list.id %}">Add</a>
<label for="faxlist">Choose a list:<select name="faxlist" id="faxlist">
{% for list in site.faxlist_set.all %}
<option {% if list == current_list %}selected {% endif %}value="{{ list.id }}">{{ list.name }}</option>
{% endfor %}
</select></label> 

{% autosort object_list %}
<table id="subscribers">
    <thead>
      <tr>
            <th>{% anchor organization Name %}</th>
            <th>{% anchor fax "Fax number" %}</th>
            <th></th>
      </tr>
    </thead>
    <tbody>
    {% for subscriber in object_list %}
        <tr class="{% cycle '' 'shaded' %}">
            <td>{{ subscriber.organization|default:"-" }}</td>
            <td>{{ subscriber.fax|default:"-" }}</td>
            <td><a href="{% url dashboard_edit_subscriber current_list.id, subscriber.id %}">Edit</a> / <a class="delete" href="{% url dashboard_delete_subscriber current_list.id, subscriber.id %}">Delete</a></td>
        </tr>
    {% empty %}
        <tr>
            <td>No subscribers in this list.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("a.delete").live("click", function () {
        h3Text = $($(this).parent().find("h3")[0]).text();
        c = confirm("Are you sure you want to delete " + h3Text + "? This action cannot be undone.");
        if (!c)
            return false;
    });
    $("#faxlist").change(function () {
        window.location.href = "/dashboard/marketing/fax-lists/" + $(this).val();
    });
});
</script>
{% endblock %}
