{% extends 'dashboard/marketing/home.html' %}

{% block body-class %}{{ block.super }}subscribers{% endblock %}

{% block help %}
FIXME
{% endblock %}

{% block content %}
<h1>{% if form.initial|length %}Edit{% else %}Create a new{% endif %} subscriber</h1>
<div class="grid_5 alpha">
<form method="POST" action=".">
{{ form.as_p }}
</form>
</div>
<div class="grid_7 omega">
</div>
<div class="clear"></div>
<a class="buttonTop last" href="{% url dashboard_marketing %}">Cancel</a>
<a class="buttonTop submit" href="#">Save</a>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("a.submit").click(function () {
        $("form").submit();
    });
});
</script>
{% endblock %}

