{% extends 'dashboard/marketing/home.html' %}

{% block body-class %}{{ block.super }}subscribers{% endblock %}

{% block h2 %}
{% if form.initial|length %}Edit{% else %}Create a new{% endif %} subscriber
{% endblock %}

{% block help %}
<p>New subscribers will be added to the list you selected.  When you edit them, you will be able to change the list that they belong to.</p>
{% endblock %}

{% block content %}
{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}
<form method="POST" action=".">
<label>{{ form.organization.label }} {% if form.organization.errors %} {{ form.organization.errors }} {% endif %}</label>
{{ form.organization }}
<label>{{ form.fax.label }} {% if form.fax.errors %} {{ form.fax.errors }} {% endif %}</label>
{{ form.fax }}
<div class="save-row clearfix">
<a class="cancel" href="{% url dashboard_content %}">Cancel</a>
<input type="submit" value="Save" class="submit" />
</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("a.submit").click(function () {
        $("form").submit();
    });
});
</script>
{% endblock %}

