{% extends 'dashboard/marketing/home.html' %}

{% block body-class %}{{ block.super }}subscribers{% endblock %}

{% block h2 %}
{% if form.initial|length %}Edit{% else %}Create a new{% endif %} subscriber
{% endblock %}

{% block help %}
<p>New subscribers will be added to the list you selected.  When you edit them, you will be able to change the list that they belong to.</p>
{% endblock %}

{% block content %}
<form method="POST" action=".">
{{ form.as_p }}
</form>
<div class="clear"></div>
<a class="buttonTop last" href="{% url dashboard_marketing %}">Cancel</a>
<a class="buttonTop submit" href="#">Save</a>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("a.submit").click(function () {
        $("form").submit();
    });
});
</script>
{% endblock %}

