{% extends 'dashboard/marketing/home.html' %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.autocomplete.css" />
{% endblock %}

{% block body-class %}{{ block.super }}integrations{% endblock %}

{% block h2 %}
Connect to your Twitter account
{% endblock %}

{% block help %}
<p>Enter your Twitter screen name here.  You will be taken to Twitter to verify that you want to give Takeout Tiger access to your accountand will then be directed back to your dashboard.</p>
{% endblock %}

{% block content %}
<form method="POST" action=".">
<label>{{ form.twitter_screen_name.label }} {% if form.twitter_screen_name.errors %} {{ form.twitter_screen_name.errors }} {% endif %}</label>
{{ form.twitter_screen_name }}
<div class="clear"></div>
 <div class="save-row">
    <a href="{% url dashboard_marketing %}" class="cancel">Cancel</a>
    <input type="submit" class="submit" value="Save" />
</div>
</form>
{% endblock %}

{% block js %}
{% endblock %}
