{% extends 'dashboard/marketing/home.html' %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.autocomplete.css" />
{% endblock %}

{% block body-class %}{{ block.super }}integrations{% endblock %}

{% block content %}
<h1>Connect to your Twitter account</h1>
<div class="grid_5 alpha">
<form method="POST" action=".">
{{ form.as_p }}
</form>
</div>
<div class="grid_7 omega">
<p>Enter your Twitter screen name here.  You will be taken to Twitter to verify that you want to give Takeout Tiger access to your accountand will then be directed back to your dashboard.</p>
</div>
<div class="clear"></div>
<a class="buttonTop last" href="{% url dashboard_marketing %}">Cancel</a>
<a class="buttonTop submit" href="#">Save</a>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("a.submit").click(function () {
        $("form").submit();
    });
});
</script>
{% endblock %}
