<!DOCTYPE html>
<html>
	<head>
		<title>Sign up for Takeout Tiger</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
		<script src="{{ MEDIA_URL }}js/loopedslider.min.js"></script>
		<!--[if lte IE 8]>
			<script>
				// For discussion and comments, see: http://remysharp.com/2009/01/07/html5-enabling-script/ (credit to @jdalton for minif)
				/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark menu meter nav output progress section summary time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/
			</script>
		<![endif]-->
        <style type="text/css">
            div.legal {color:#E0E0E0;}
        </style>
	</head>
	<body id="signup">
		<div class="container_12 clearfix">
			<div class="grid_12 legal">
            {% block content %}
            {% endblock %}
            </div>
		</div>
	</body>
</html>

