<!DOCTYPE html>
<html>
	<head>
		<title>Sign up for Takeout Tiger</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">
		<script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
		<script src="{{ MEDIA_URL }}js/loopedslider.min.js"></script>
        <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" />
		<!--[if lte IE 8]>
			<script>
				// For discussion and comments, see: http://remysharp.com/2009/01/07/html5-enabling-script/ (credit to @jdalton for minif)
				/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark menu meter nav output progress section summary time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/
			</script>
		<![endif]-->
	</head>
	<body id="signup">
		<section class="container_12 clearfix">
            <form method="POST">
			<div class="grid_6">
				<h1>Sign Up</h1>
				<fieldset>
					<legend id="one">Create your Takeout Tiger account</legend>
					<label>
					    {{ form.first_name.label }}:
					    {% if form.first_name.errors %}
                            {{ form.first_name.errors }}
                        {% endif %}
                        <br /><span>{{ form.first_name }}</span></label>
					
					<label>
					    {{ form.last_name.label }}:
					    {% if form.last_name.errors %}
                            {{ form.last_name.errors }}
                        {% endif %}
                        <br /><span>{{ form.last_name }}</span></label>
					
					<label>{{ form.email.label }}:
					    {% if form.email.errors %}
                            {{ form.email.errors }}
                        {% endif %}
					    <br /><span>{{ form.email }}</span></label>

					<label>
					    {{ form.site_name.label }}:
					    {% if form.site_name.errors %}
                            {{ form.site_name.errors }}
                        {% endif %}
                        <br /><span>{{ form.site_name }}</span></label>

				</fieldset>
			</div>
			<div id="price" class="grid_4 push_1">
			    <p><span class="dollars">${{ plan.price }}</span><span>/month</span></p>
			    <ul>
			        <li>A customizable website for your restaurant</li>
                    <li>Social media integration (Facebook and Twitter)</li>
                    <li>Automatic PDF menus</li>
                        <li>
                        {% if plan.fax_cap > 0 %}
                        {{ plan.fax_cap }} fax pages included
                            {% if plan.fax_cap_type == 1 %}
                            (additional pages for {{ plan.fax_rate }}&cent;/page)
                            {% endif %}
                        {% else %}
                            {% if plan.fax_cap_type == 1 %}
                            Web-based faxing for {{ plan.fax_rate }}&cent;/page
                            {% endif %}
                        {% endif %}
                        </li>
                    {% if plan.has_online_ordering %}
                        <li>Our online ordering system</li>
                            {% if plan.multiple_locations %}
                            <li>Multiple location support</li>
                            {% endif %}
                    {% endif %}
                    {% if plan.has_sms %}
                        <li>Dedicated SMS number</li>
                        <li>
                        {% if plan.sms_cap > 0 %}
                        {{ plan.sms_cap }} SMSes included
                            {% if plan.sms_cap_type == 1 %}
                            (additional SMSes for {{ plan.sms_rate }}&cent;/SMS)
                            {% endif %}
                        {% else %}
                            {% if plan.sms_cap_type == 1 %}
                            Send/receive SMSes for {{ plan.sms_rate }}&cent;/SMS
                            {% endif %}
                        {% endif %}
                        </li>
                    {% endif %}
                </ul>
			</div>
			<div class="clear"></div>
			<div id="passwords" class="grid_12">
				<h3>Now choose a password</h3>	
				<label>Password:
				    {% if form.password1.errors %}
                        {{ form.password1.errors }}
                    {% endif %}
				    <br /><span>{{ form.password1 }}</span></label>
				
				<label>Password again (for verification):
				    {% if form.password2.errors %}
                        {{ form.password2.errors }}
                    {% endif %}
				    <br /><span>{{ form.password2 }}</span></label>
                <p class="passwords">
    			    <span class="matches" style="display:none;">It matches!</span>
    			    <span class="no-match" style="display:none;">Does not match!</span>                
                </p>    
            </div>
            
            <hr class="grid_12" />
            
			<div class="grid_8">	
				<fieldset class="domain">
					<legend id="two">Choose your Takeout Tiger domain</legend>
					<p>You can set up a custom domain of your choosing later (e.g. "www.mikesdiner.com"), but this is the URL where you will access your dashboard.</p>
					<label><strong>http://</strong><span>{{ form.subdomain }}</span><strong>.takeouttiger.com</strong></label>
					{% if form.subdomain.errors %}
                        {{ form.subdomain.errors }}<br />
                    {% endif %}
				</fieldset>
            </div>
			<p class="availability grid_4">
			    <span class="looking" style="display:none;">Looking...</span>
			    <span class="yes" style="display:none;">Domain available.</span>
			    <span class="no" style="display:none;">Not available.</span>
			</p>
			
			<hr class="grid_12" />
			
            <div class="grid_6">
				<fieldset class="billing">
					<legend id="three">Enter your billing information</legend>
                    {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                    {% endif %}

					<label>{{ form.cc_number.label }}:
					    {% if form.cc_number.errors %}
                            {{ form.cc_number.errors }}
                        {% endif %}
					    <br /><span>{{ form.cc_number }}</span></label>
					
			        <label>Expiration date:</label>
			        <div class="clear"></div>
			        <div ><label class="expiration">
			            <span>{{ form.month }}</span><strong>/</strong>
			        </label>
			        
			        <label class="expiration">
			            <span>{{ form.year }}</span>
			        </label></div>
			        
			        {% if form.month.errors %}
                        {{ form.month.errors }}
                    {% endif %}
                    {% if form.year.errors %}
                        {{ form.year.errors }}
                    {% endif %}
			        
			        <div class="clear"></div>
			        
					<label>{{ form.zip.label }}:
					    {% if form.zip.errors %}
                            {{ form.zip.errors }}
                        {% endif %}
					    <br /><span>{{ form.zip }}</span></label>

			        <p><a href="#" class="promo">Do you have a promo code?</a></p>
			        <label class="promo">Promo code:
			            {% if form.promo.errors %}
                            {{ form.promo.errors }}
                        {% endif %}
			            <br /><span>{{ form.promo }}</span></label>
		        	<ul>
					    <!-- <li><img src="{{ MEDIA_URL }}/img/Card - AmEx_32x32.png" alt="Card   AmEx 32x32"></li> -->
                        <li><img src="{{ MEDIA_URL }}/img/Card - Discover_32x32.png" alt="Card   Discover 32x32"></li>
                        <li><img src="{{ MEDIA_URL }}/img/Card - Mastercard_32x32.png" alt="Card   Mastercard 32x32"></li>
                        <li><img src="{{ MEDIA_URL }}/img/Card - Visa_32x32.png" alt="Card   Visa 32x32"></li>
					</ul>    
				</fieldset>
			</div>
			<div class="thanks grid_4 push_1">
			    <span id="promo"></span>
			    <span class="free-trial"></span>
			    <p>You won't be billed unless you keep your account open past your <span class="trial-period">30</span>-day free trial.<br /><span class="note">We need your billing information to reduce fraud and verify that you have a valid credit card should you keep your account open. This prevents any interruption in service.</span><span class="note">*Fax charges not included in free trial</span></p>
			</div>    
			<div class="grid_12">
			    <input type="submit" value="">
			</div>
			<div class="clear"></div>
            </form>
            <div ciass="clear"></div>
		</section>
		<footer class="container_12 clearfix">
			<div class="grid_12">
			    <ul>
    			     <li><a href="{% url privacy %}">Privacy Policy</a></li>
    			     <li><a href="{% url terms %}">Terms of Service</a></li>
			    </ul>
			</div>
		</footer>

	<script type="text/javascript" charset="utf-8">
        var keystrokes = 0, domain = '', couponCode = '';
        function checkAvailable () {
            keystrokes--;
            if (keystrokes == 0) {
                if (domain) {
                    $.post("{% url domain_check %}", $.param({subdomain: domain}), function (data) {
                        if (!data['available']) {
                            $("span.looking,span.yes").hide();
                            $("span.no").css("display", "block");
                        } else {
                            $("span.looking,span.no").hide();
                            $("span.yes").css("display", "block");
                        }
                    }, "json");
                } else {
                    $("span.looking,span.yes").hide();
                    $("span.no").css("display", "block");
                }
            }
        }
        function validateCoupon () {
            keystrokes--;
            if (keystrokes == 0) {
                if (couponCode) {
                    $.post("{% url validate_coupon %}", $.param({coupon: couponCode}), function (data) {
                        if (!data['valid']) {
                            $("#promo").fadeIn();
                        } else {
                            $("#promo").fadeOut();
                        }
                    }, "json");
                } else {
                    $("#promo").fadeOut();
                }
            }
        }
		$(function(){
            $("span#promo").hide();
            if (!$("#id_promo").val()) {
                $("label.promo").hide();
            }
            $("#id_subdomain").keyup(function () {
                keystrokes++;
                domain = $(this).val();
                if (domain) {
                    setTimeout('checkAvailable()', 1000);
                    $("span.looking").show();
                    $("span.yes,span.no").hide();
                } else {
                    keystrokes--;
                }		
            });
            $("#id_promo").keyup(function () {
                keystrokes++;
                couponCode = $(this).val();
                if (couponCode) {
                    setTimeout('validateCoupon()', 1000);
                } else {
                    keystrokes--;
                }		
            });
            $("#id_password2").blur(function () {
                pw1 = $("#id_password1").val();
                pw2 = $("#id_password2").val();
                if (pw1.length) {
                    if (pw1 == pw2) {
                        $("span.matches").css("display", "block"); 
                        $("span.no-match").hide(); 
                    } else {
                        $("span.no-match").css("display", "block"); 
                        $("span.matches").hide(); 
                    }
                }
            });
            $("a.promo").toggle(function() {
                $("label.promo").slideDown();
            }, function() {
                $("label.promo").slideUp();
            });
		});
	</script>
	</body>
</html>
