<!DOCTYPE html>
<html>
	<head>
		<title>Sign up for Takeout Tiger</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">
		<script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
		<script src="{{ MEDIA_URL }}js/loopedslider.min.js"></script>
		<!--[if lte IE 8]>
			<script>
				// For discussion and comments, see: http://remysharp.com/2009/01/07/html5-enabling-script/ (credit to @jdalton for minif)
				/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark menu meter nav output progress section summary time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/
			</script>
		<![endif]-->
	</head>
	<body id="signup">
		<section class="container_12 clearfix">
            <form method="POST">
			<div class="grid_6">
				<h1>Sign Up</h1>
				<fieldset>
					<legend id="one">Create your Takeout Tiger account</legend>
                    {% if form.first_name.errors %}
                    {{ form.first_name.errors }}
                    {% endif %}
					<label>{{ form.first_name.label }}:<br /><span>{{ form.first_name }}</span></label>
                    {% if form.last_name.errors %}
                    {{ form.last_name.errors }}
                    {% endif %}
					<label>{{ form.last_name.label }}:<br /><span>{{ form.last_name }}</span></label>
                    {% if form.email.errors %}
                    {{ form.email.errors }}
                    {% endif %}
					<label>{{ form.email.label }}:<br /><span>{{ form.email }}</span></label>

					<h3>Now choose a password</h3>	
                    {% if form.password1.errors %}
                    {{ form.password1.errors }}
                    {% endif %}
					<label>Password:<br /><span>{{ form.password1 }}</span></label>
                    {% if form.password2.errors %}
                    {{ form.password2.errors }}
                    {% endif %}
					<label>Password again (for verification):<br /><span>{{ form.password2 }}</span></label>
				</fieldset>
			</div>
			<div id="price" class="grid_4 push_1">
			    <p>$75/month 30-day free trial</p>
			    <ul><li>A customizable website for your restaurant</li>
                <li>Our online ordering system</li>
                <li>Social media integration (Facebook and Twitter)</li>
                <li>Automatic PDF menus </li></ul>
			</div>
            <p class="passwords grid_4 push_1">
			    <span class="matches" style="display:none;">It matches!</span>
			    <span class="no-match" style="display:none;">Does not match!</span>                
            </p>    
            
            <hr class="grid_12" />
            
			<div class="grid_8">	
				<fieldset class="domain">
					<legend id="two">Choose your Takeout Tiger domain</legend>
					<p>You can set up a custom domain of your choosing later (e.g. "www.mikesdiner.com"), but this is the URL where you will access your dashboard.</p>
                    {% if form.subdomain.errors %}
                    {{ form.subdomain.errors }}
                    {% endif %}
					<label><strong>http://</strong><span>{{ form.subdomain }}</span><strong>.takeouttiger.com</strong></label>
				</fieldset>
            </div>
			<p class="availability grid_4">
			    <span class="looking" style="display:none;">Looking...</span>
			    <span class="yes" style="display:none;">Domain available.</span>
			    <span class="no" style="display:none;">Not available.</span>
			</p>
			
			<hr class="grid_12" />
			
            <div class="grid_6">
				<fieldset class="billing">
					<legend id="three">Enter your billing information</legend>
                    {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                    {% endif %}
                    {% if form.cc_number.errors %}
                    {{ form.cc_number.errors }}
                    {% endif %}
					<label>{{ form.cc_number.label }}:<br /><span>{{ form.cc_number }}</span></label>
                    {% if form.month.errors %}
                    {{ form.month.errors }}
                    {% endif %}
                    {% if form.year.errors %}
                    {{ form.year.errors }}
                    {% endif %}
			        <label class="expiration">Expiration date:<br />
			            <span>{{ form.month }}</span><strong>/</strong><span>{{ form.year }}</span>
			        </label>
                    {% if form.zip.errors %}
                    {{ form.zip.errors }}
                    {% endif %}
					<label>{{ form.zip.label }}:<br /><span>{{ form.zip }}</span></label>
			        <p><a href="#" class="promo">Do you have a promo code?</a></p>
                    {% if form.promo.errors %}
                    {{ form.promo.errors }}
                    {% endif %}
			        <label class="promo">Promo code:<br /><span>{{ form.promo }}</span></label>
				</fieldset>
			</div>
			<div class="thanks grid_4 push_1">
			    <span id="promo"></span>
			    <span class="free-trial"></span>
			    <p>You won't be billed unless you keep you keep your account open past your <span class="trial-period">30</span>-day free trial.<br /><span class="note">We need your billing information to reduce fraud and verify that you have a valid credit card should you keep your account open. This prevents any interruption in service.</span></p>
			</div>    
			<div class="grid_10">
			    <input type="submit" value="">
			</div>   
            </form>
		</section>
		<footer class="container_12 clearfix">
			<div class="grid_12">
			    <ul>
    			     <li><a href="{% url privacy %}">Privacy Policy</a></li>
    			     <li><a href="{% url terms %}">Terms of Service</a></li>
			    </ul>
			</div>
		</footer>

	<script type="text/javascript" charset="utf-8">
        var keystrokes = 0, domain = '', couponCode = '';
        function checkAvailable () {
            keystrokes--;
            if (keystrokes == 0) {
                if (domain) {
                    $.post("{% url domain_check %}", $.param({subdomain: domain}), function (data) {
                        if (!data['available']) {
                            $("span.looking,span.yes").hide();
                            $("span.no").css("display", "block");
                        } else {
                            $("span.looking,span.no").hide();
                            $("span.yes").css("display", "block");
                        }
                    }, "json");
                } else {
                    $("span.looking,span.yes").hide();
                    $("span.no").css("display", "block");
                }
            }
        }
        function validateCoupon () {
            keystrokes--;
            if (keystrokes == 0) {
                if (couponCode) {
                    $.post("{% url validate_coupon %}", $.param({coupon: couponCode}), function (data) {
                        if (!data['valid']) {
                            $("#promo").fadeIn();
                        } else {
                            $("#promo").fadeOut();
                        }
                    }, "json");
                } else {
                    $("#promo").fadeOut();
                }
            }
        }
		$(function(){
            $("span#promo").hide();
            if (!$("label.promo").prev().hasClass("errorlist")) {
                $("label.promo").hide();
            }
            $("#id_subdomain").keyup(function () {
                keystrokes++;
                domain = $(this).val();
                if (domain) {
                    setTimeout('checkAvailable()', 1000);
                    $("span.looking").show();
                    $("span.yes,span.no").hide();
                } else {
                    keystrokes--;
                }		
            });
            $("#id_promo").keyup(function () {
                keystrokes++;
                couponCode = $(this).val();
                if (couponCode) {
                    setTimeout('validateCoupon()', 1000);
                } else {
                    keystrokes--;
                }		
            });
            $("#id_password2").blur(function () {
                pw1 = $("#id_password1").val();
                pw2 = $("#id_password2").val();
                if (pw1 == pw2) {
                    $("span.matches").css("display", "block"); 
                    $("span.no-match").hide(); 
                } else {
                    $("span.no-match").css("display", "block"); 
                    $("span.matches").hide(); 
                }
            });
            $("a.promo").toggle(function() {
                $("label.promo").slideDown();
            }, function() {
                $("label.promo").slideUp();
            });
		});
	</script>
	</body>
</html>
