{% extends 'base.html' %}
{% load pagination_tags %}

{% block title %}
 News
{% endblock %}

{% block content %}
{% autopaginate releases %}

<h1>Latest news from {{ site.name }}</h1>

{% paginate %}

<ul id="newsitems">
{% for release in releases %}
    <li{% cycle ' class="shaded"' '' %}>
        <h4><a href="{{ release.get_absolute_url }}">{{ release.title }}</a></h4>
        <p><em>Published {{ release.time_sent|date }}</em></p>
        {% if release.body %}
        {{ release.body|linebreaks|truncatewords_html:30 }}
        {% endif %}
    </li>
{% empty %}
    <li>No news has been published.</li>
{% endfor %}

{% paginate %}
{% endblock %}
