<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ site.name }} {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/text.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css" />
    <!--[if IE]>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen" charset="utf-8"></link>
    <![endif]--> 
    <style>
        @font-face {
            font-family: Opticon;
            src: url({{ MEDIA_URL }}fonts/Optio___.ttf);
        }
    </style>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/supplement.css" />
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        <div id="masthead">
            <div class="container_12">
                <div id="menu" class="grid_8">
                <h2>{{ site.name }}</h2>
                </div>
                <div id="search" class="grid_4">
                {% comment %}
                <form>
                    <input type="text" value="Search" /><input type="submit" value="Go" />
                </form>
                {% endcomment %}
                </div>
            </div> 
        </div>
        <div id="menuWrap">
            <div class="container_12">
                <div id="menu" class="grid_8">
                <ul>
                    <li><a class="lightlink" href="/">Home</a></li>
                    <li><a class="lightlink" href="#">Menu</a>
                        <div>
                            <ul>
                                {% for section in site.section_set.all %}
                                <li><a href="{% url menu_section section.slug %}">{{ section.name }}</a></li>
                                {% empty %}
                                <li>No menu sections created yet.</li>
                                {% endfor %}
                            </ul>
                        </div>	
                    </li>
                    <li><a class="lightlink" href="/about/">About</a></li>
                    <li><a class="lightlink" href="/find-us/">Find Us</a></li>
                    {% if site.blog_enabled %}
                    <li><a class="lightlink" href="">{{ site.blog_title }}</a></li>
                    {% endif %}
                </ul>
                </div>
                <div class="grid_4">
                </div>
            </div> 
        </div>
        <div id="content" class="container_12">
            <div id="mainWrap" class="grid_8 alpha">
            <div id="main">
            {% block content %}
            {% load content_tags %}
            <h1>{% get_title site "homepage" %}</h1>
            {% get_body site "homepage" %}
            {% endblock %}
            </div>
            </div>
            <div id="sidebarWrap" class="grid_4 omega">
            <div id="sidebar">
            {% block sidebar %}
                {% comment %}
                <div id="cartControls">
                <a id="viewCart" href=""><img src="{{ MEDIA_URL }}img/cart_edit.png" /> View cart</a> <a href=""><img src="{{ MEDIA_URL }}img/cart_go.png" / > Checkout</a>
                </div>
                <div class="clear"></div>
                {% endcomment %}
                <p>{{ site.hours }}</p>
                <address>
                {{ site.street }}<br>
                {{ site.city }}, {{ site.state }} {{ site.zip }}
                </address>
                <p>T: {{ site.phone }}{% if site.fax %} | Fax: {{ site.fax }}{% endif %}</p>
                {% if site.twitter %}
                <div id="twitter">
                   You should <a href="http://twitter.com/{{ site.twitter }}">follow us on Twitter</a> to get menu updates and more!
                </div>
                {% endif %}
            {% endblock %}
            </div>
            </div>
        </div>
    <div class="shim"></div>
    </div>
    <div class="footer">
        <div class="container_12">
            <address>{{ site.contact }}</address>
            <p>Powered by <a class="lightlink" href="http://www.takeouttiger.com">Takeout Tiger</a></p> 
        </div> 
    </div>
    {% block js %}
    {% endblock %}
    {{ site.tracking_code|safe }}
</body>
</html>
