{% extends 'dashboard/base.html' %}

{% block content %}
    <h1>Dashboard</h1>
    <div class="grid_4 alpha">
        <a class="buttonTop last" href="{% url dashboard_add_pdf %}">Add</a>
        <h2>PDF Menus</h2>
        <ul class="drag sections">
        {% for pdf in pdfs %}
            <li> 
                <a class="buttonTop last" href="{% url dashboard_delete_pdf pdf.id  %}">Delete</a>
                <a class="buttonTop" href="{% url dashboard_edit_pdf pdf.id %}">Edit</a>
                <a class="buttonTop" href="{% url dashboard_preview_pdf pdf.id %}">Preview</a>
                {% if not pdf.featured %}
                <a class="buttonTop" href="{% url dashboard_edit_pdf pdf.id %}">Feature</a>
                {% endif %}
                <div class="clear"></div>
                <h3>{{ pdf }}{% if pdf.featured %} (featured on site){% endif %}</h3>
                <p>Pages: {{ pdf.page_count }}</p>
                <p>{{ pdf.footer }}</p>
            </li> 
        {% empty %}
            <li>You currently have no PDF menus. <a href="">Create a pdf</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="grid_4">
    {% comment %}
        <a class="buttonTop last" href="{% url dashboard_add_subscriber %}">Add</a>
        <a class="buttonTop" href="{% url dashboard_subscriber_list %}">View</a>
        <h2>Image library</h2>
        <p class="subscribers">
            <strong>Via e-mail:</strong> {{ email_subscribers.count }}<br />
            <strong>Via fax:</strong> {{ fax_subscribers.count }}
        </p>
    {% endcomment %}
    </div>
    <div class="grid_4 omega">
        <h2>Site copy</h2>
        <p class="usage">
            <a href="{% url dashboard_edit_content "homepage" %}">Edit your homepage</a><br>
            <a href="{% url dashboard_edit_content "about" %}">Edit your "About" page</a><br>
            <a href="{% url dashboard_edit_content "find-us" %}">Edit your "Find us" page</a><br>
        </p>
    </div>
{% endblock %}
