{% extends base %}
{% block body_class %}menu{% endblock %}
{% block title %}
Choose a menu section
{% endblock %}

{% block content %}
<div id="container">
</div>
{% endblock %}

{% block js %}
<script id="section-list" type="text/html">
    <a href='#section/<%= id %>'><h3><%= name %></h3><p><%= description %></p></a>
</script>
<script id="item-list" type="text/html">
  <a href='#section/<%= section_id %>/item/<%= id %>' class="clearfix">
    <div class="name-part">
    <h3><%= name %></h3><p><%= description %></p>
  </div>
  <div class="price-part">
    <span>
    <% if (prices.length > 1) { %>
      from 
    <% } %>
    <% if (prices[0]) { %>
      $<%= prices[0].price %>
    <% } else { %>
      $<%= prices.at(0).get('price') %>
    <% } %>
    </span> 
  </div>

  </a>
</script>
{% include "mobile/includes/order_item.html" %}
{% include "mobile/includes/review_order.html" %}
<script type="text/javascript">
    var cart_dump = {{ cart.to_json|safe|default:"[]" }},
        line_items = cart_dump[0],
        cart_data = cart_dump[1];
</script>
{% load compress %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/backbone.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/menu.js"></script>
{% endblock %}
