{% extends base %}
{% block body_class %}menu{% endblock %}
{% block title %}
Choose a menu section
{% endblock %}

{% block content %}
<div id="container">
</div>
{% endblock %}

{% block js %}
<script id="section-list" type="text/html">
    <a href='#section/<%= id %>'><h3><%= name %></h3><p><%= description %></p></a>
</script>
<script id="item-list" type="text/html">
    <a href='#section/<%= section_id %>/item/<%= id %>'><h3><%= name %></h3><p><%= description %></p></a>
</script>
<script id="order-item" type="text/html">
    <div class="breadcrumbs">
        <a href="/menu">Menu</a> <a href="#section/<%= section.id %>"><%= section.get("name") %></a>
    </div>
    <h1><%= name %></h1>
    <p><%= description %></p>

    <label id="qty"> 
        Quantity
        <input type="text" name="quantity" value="1" id="id_quantity" /> 
    </label> 
    <div class="clear"></div> 

    <% if (prices.length > 1) { %>
        <ul> 
            <% prices.each(function (price, i) { %>
                <li><label for="id_variant_<%= i %>"><input type="radio" id="id_variant_<%= i %>" value="<%= price.id %>" name="variant_<%= price.id %>" /> <%= price.get("name") %></label></li> 
                <% }); %>
        </ul> 
        <div class="clear"></div> 
        <% } %>

    <% if (choice_sets.length > 0) { %>
        <% choice_sets.each(function (choice_set, i) { %>
            <div class="upgrades"> 
                <label>Your choice of:</label> 
                <select> 
                    <% choice_set.choices.each(function (choice, j) { %>
                        <option id="id_side_<%= choice_set.id %>_<%= j %>" value="<%= choice.id %>" name="side_<%= choice_set.id %>" /> <%= choice.get("name") %></option> 
                        <% }); %>
                </select> 
            </div> 
            <% }); %>
        <div class="clear"></div> 
        <% } %>

    <% if (extras.length > 0) { %>
        <a href="#" data-text="Hide Extras" id="toggle-extras">Add Extras</a>
        <div class="upgrades extras"> 
            <ul> 
                <% extras.each(function (extra, i) { %>
                    <li><label for="id_upgrades_<%= i %>"><input type="checkbox" name="upgrades" value="<%= extra.id %>" id="id_upgrades_<%= i %>" /> <h3 class="extra-name"><%= extra.get("name") %></h3><em>$<%= extra.get("price") %></em></label></li> 
                    <% }); %>
            </ul> 
        </div> 
        <div class="clear"></div> 
        <% } %>

    <label for="id_notes">Special instructions (&quot;No MSG&quot;, &quot;Extra lettuce&quot;)</label> 
    <input type="text" name="notes" id="id_notes" /> 
    <a href="#" id="toggle-name">Ordering for multiple people?</a> 
    <div id="add-name" style="display:none;"> 
        <label for="id_label">Enter a name here and we&#39;ll label this item for that person.</label> 
        <input type="text" name="label" id="id_label" /> 
    </div> 
    <input id="submit" class="button ordering" type="submit" value="Add to order" /> 
</script>
<script id="review-order" type="text/html">
<h2>Review your order</h2>

<table>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
        <th></th>
    </tr>

</table>
</script>
<script id="line-item-template" type="text/html">
<td class="item">
item.name (price description)
{% if item.upgrades or item.notes or item.sides %}
    <ul>
        <li>upgrade name: upgrade price per item</li>
        <li>side</li>
        <li>item.notes</li>
    </ul>
{% endif %}
</td>
<td>row price</td>
<td>row quantity</td>
<td>row total</td>
<td class="remove"><a href="">[x]</a></td>
</script>
<script type="text/javascript">
    var line_items = {{ cart.to_json|safe|default:"[]" }};
</script>
{% load compress %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/backbone.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/menu.js"></script>
{% endblock %}
