{% extends 'dashboard/account/home.html' %}

{% block body-class %}{{ block.super }}billing-history{% endblock %}

{% block h2 %}Your billing history{% endblock %}

{% block help %}
You can browse your past invoices here.  This is for reference purposes only.
{% endblock %}

{% block content %}
<ul>
    {% for invoice in invoices %}
    <li><a href="{% url invoice_detail invoice.id %}">Invoice for {{ invoice.date|date:"M Y" }} (${{ invoice.total }})</a></li>
    {% empty %}
    <li>You have no invoices to view.</li>
    {% endfor %}
</ul>
{% endblock %}
