{% extends 'dashboard/account/home.html' %}

{% block body-class %}{{ block.super }}update-cc{% endblock %}

{% block help %}
FIXME
{% endblock %}

{% block content %}
<div class="grid_5 alpha">
{% if form.errors %}
<span class="errorlist">There are errors below.</span>
{% endif %}
<p><em>Currently using your {{ site.account.card_type }} {{ site.account.card_number }}</em></p>
<form method="POST" action=".">
{% for field in form %}
<label>{{ field.label }}  {% if field.errors  %}
{{ field.errors }}
{% endif %}
</label>
{{ field }}
{% endfor %}
</form>
</div>
<div class="clear"></div>
<a class="buttonTop last" href="{% url update_cc %}">Cancel</a>
<a class="buttonTop submit" href="#">Save</a>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("a.submit").click(function () {
        $("form").submit();
    });
});
</script>
{% endblock %}


