{% extends 'dashboard.html' %}

{% block content %}
    <h1>Dashboard</h1>
    <div class="grid_4 alpha">
        <a class="buttonTop last" href="{% url dashboard_add_blast %}">Add</a>
        <h2>Blasts</h2>
        <ul class="drag sections">
        {% for blast in blasts %}
            <li> 
                <a class="buttonTop last" href="{% url dashboard_delete_blast blast.id  %}">Delete</a>
                <a class="buttonTop" href="{% url dashboard_edit_blast blast.id %}">Edit</a>
                <a class="buttonTop" href="{% url dashboard_send_blast blast.id %}">Send</a>
                <div class="clear"></div>
                <h3>{{ blast }}</h3>
                <p>{{ blast.footer }}</p>
            </li> 
        {% empty %}
            <li>You have not created any blasts. <a href="{% url dashboard_add_blast %}">Create one now</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="grid_4">
        <a class="buttonTop last" href="{% url dashboard_add_subscriber %}">Add</a>
        <a class="buttonTop" href="{% url dashboard_subscriber_list %}">View</a>
        <h2>Subscribers</h2>
        <p class="subscribers">
            <strong>Via e-mail:</strong> {{ email_subscribers.count }}<br />
            <strong>Via fax:</strong> {{ fax_subscribers.count }}
        </p>
        <h2>Fax usage</h2>
        <p class="usage">
            <strong>Total pages sent:</strong> {{ total_pages }}<br />
            <strong>Pages sent in {% now "F" %}:</strong> {{ pages_for_month }}
        </p>
    </div>
    <div class="grid_4 omega">
        <h2>Social media</h2>
        <p class="usage">
	<strong>Twitter:</strong>
	{% if site.twitter %}
		currently integrated with <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a>
		<a href="{% url dashboard_add_twitter %}">(change)</a>
	{% else %}
		<a href="{% url dashboard_add_twitter %}">Connect your Twitter account</a>
	{% endif %}
        </p>
    </div>
{% endblock %}
