{% extends 'dashboard.html' %}

{% block content %}
    <h1>Restaurant info</h1>
    <div class="grid_4 alpha">
        <a class="buttonTop last" href="{% url dashboard_location %}">Edit</a>
        <h2>Location</h2>
        <ul class="drag sections">
            <li> 
                <div class="clear"></div>
                <address>
                {{ site.street }}<br />
                {{ site.city }}, {{ site.state }} {{ site.zip }}
                </address>
                <p>
                Phone: {{ site.phone }}<br />
                Fax: {{ site.fax_number }}<br />
                </p>
            </li> 
        </ul>
    </div>
    <div class="grid_4">
        <a class="buttonTop last" href="{% url edit_hours %}">Edit</a>
        <h2>Restaurant Hours</h2>
        <p class="subscribers">
            {{ site.hours }}
        </p>
    </div>
    <div class="grid_4 omega">
        <h2>Profile</h2>
        <p class="usage">
            <a href="{% url dashboard_edit_content "homepage" %}">Edit your homepage</a><br>
            <a href="{% url dashboard_edit_content "about" %}">Edit your "About" page</a><br>
            <a href="{% url dashboard_edit_content "find-us" %}">Edit your "Find us" page</a><br>
        </p>
    </div>
{% endblock %}
