{% extends 'dashboard/orders/home.html' %}

{% block body-class %}{{ block.super }}history{% endblock %}

{% block help %}
FIXME
{% endblock %}

{% block content %}
    <h1>Order #{{ order.id }}</h1>
    <div class="alpha grid_4">
        <strong>Customer:</strong> {{ order.name }}<br />
        <strong>For:</strong> {{ order.get_method_display }}<br />
        <strong>Time placed:</strong> {{ order.localized_timestamp|date:"fa m/d/y" }}<br />
        <strong>Pickup/delivery time:</strong> {% if order.pickup %}{{ order.pickup }}{% else %}{{ order.localized_ready_by|date:"fa m/d/y" }}{% endif %}<br />
        <strong>Phone number:</strong> {{ order.phone }}<br />
        <strong>Payment:</strong> {{ order.get_status_display }}<br />
        {% with order.paypal_transaction as paypal %}
            {% if paypal %}
            <strong>Payment e-mail:</strong> {{ paypal.payer_email }}<br />
            {% endif %}
        {% endwith %}
    </div>
    <div class="omega grid_8">
        <table>
            <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
            </tr>
            </thead>
        {% for id, item in cart %}
            <tr class="{% cycle '' 'shaded' %}">
                <td class="item">
                {% include 'core/includes/item_details.html' %}
                </td>
                <td class="total">${{ item.variant.price|floatformat:"-2" }}</td>
                <td class="qty">{{ item.quantity }}</td>
                <td class="total">${{ item.total|floatformat:"-2" }}</td>
            </tr>
        {% endfor %}
        {% if cart.has_coupon %}
        <tr class="discount">
            <td class="item">{{ cart.coupon_display }}</td>
            <td></td>
            <td></td>
            <td class="total">-${{ order.couponuse_set.all.0.amount|floatformat:"-2" }}</td>
        </tr>
        {% endif %}
        <tr class="total">
            <td class="item">Total</td>
            <td></td>
            <td></td>
            <td class="total">${{ order.total|floatformat:"-2" }}</td>
        </tr>
        <tr class="total">
            <td class="item">Tax</td>
            <td></td>
            <td></td>
            <td class="total">${{ order.tax|floatformat:"-2" }}</td>
        </tr>
        <tr class="total">
            <td class="item">Total w/ tax</td>
            <td></td>
            <td></td>
            <td class="total">${{ order.total_plus_tax|floatformat:"-2" }}</td>
        </tr>
        </table>
    </div>
{% endblock %}

