{% extends 'dashboard/orders/home.html' %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/raphael-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/g.raphael-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/g.bar-min.js"></script>
{% endblock %}

{% block body-class %}{{ block.super }}history{% endblock %}

{% block h2 %}
Online orders status
{% endblock %}

{% block help %}
<p>Use this screen to toggle availability of online ordering.</p>
<p>You will also find a list of orders that have been placed.  Click on an order to see more information.</p>
{% endblock %}

{% block content %}
        {% if site.enable_orders %}
        <p class="usage greenlight">
            You are currently taking online orders.  <a href="{% url toggle_order_status %}">Disable now</a>
        </p>
        {% else %}
        <p class="usage redlight">
            You are not currently taking online orders.  <a href="{% url toggle_order_status %}">Enable now</a>
        </p>
        {% endif %}

    <div id="chart"></div>

    <h3>Latest orders</h3>
    <p class=help>Your orders are listed below in reverse chronological order. Orders that you have not yet read are <span class="sample-highlight">highlighted in yellow</span>.</p>
    <table>
        <thead>
            <tr>
                <th>For</th>
                <th>Placed at</th>
                <th>Payment</th>
                <th>Ready by</th>
                <th>Phone</th>
                <th class="total">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            {% include 'dashboard/orders/new_order.html' %}
        {% empty %}
            <tr>
                <td colspan="6">You have not received any orders.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

{% block js %}
<script type="text/javascript">
function updateOrders() {
    orderId = $("tbody tr:first").attr("id");
    $.post("{% url get_new_orders %}", {}, function(data) {
        if (data) {
            $("tbody").html(data);
        }
    }, "html");
}

setInterval('updateOrders()', 1000 * 60);
</script>
{% endblock %}

