{% extends 'dashboard/orders/home.html' %}
{% load pagination_tags %}

{% block body-class %}{{ block.super }}history{% endblock %}

{% block h2 %}
Online orders for your {{ location }} location
{% endblock %}

{% block help %}
<p>Use this screen to toggle availability of online ordering.</p>
<p>You will also find a list of orders that have been placed.  Click on an order to see more information.</p>
{% endblock %}

{% block content %}
{% autopaginate orders %}
    {% if location.enable_orders %}
    <p class="usage greenlight">
        You are currently taking online orders at your {{ location }} location.  <a href="{% url toggle_order_status %}">Disable now</a>
    </p>
    {% else %}
    <p class="usage redlight">
        You are not currently taking online orders at your {{ location }} location.  <a href="{% url toggle_order_status %}">Enable now</a>
    </p>
    {% endif %}

    <div id="chart"></div>

    <h3>Latest orders</h3>
    <p class=help>Your orders are listed below in reverse chronological order. Orders that you have not yet read are <span class="sample-highlight">highlighted in yellow</span>.</p>
    {% paginate %}
    <table>
        <thead>
            <tr>
                <th>For</th>
                <th>Placed at</th>
                <th>Payment</th>
                <th>Ready by</th>
                <th>Phone</th>
                <th class="total">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            {% include 'dashboard/orders/new_order.html' %}
        {% empty %}
            <tr>
                <td colspan="6">You have not received any orders.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% paginate %}
{% endblock %}
