{% extends 'dashboard/orders/home.html' %}

{% block body-class %}{{ block.super }}payment{% endblock %}

{% block extrahead %}
<style type="text/css">
#id_tax_rate {width:40px;}
#credit-cards li {margin-left:0; margin-right:10px; display:inline;}
#credit-cards input, #credit-cards img {vertical-align:middle;}
</style>
{% endblock %}

{% block h2 %}
Online order payments
{% endblock %}

{% block help %}
<p>You have a few options with respect to payment for online orders.  You don't have to collect online payments at all, but if you do, you can choose between Authorize.net or PayPal.  PayPal and Authorize.net both have advantages and disadvantages.</p>
<p>PayPal comes with a higher percentage of the transaction (around 3%), whereas Authorize.net is simply a gateway to your merchant services provider that you pay an monthly fee for.  If you want to set up Authorize.net, call your merchant services provider  -- it's possible they can get you a discount on on the activation fee.</p>
<p>Authorize.net generally provides a better customer experience, because they will make their payment at {{ site.tiger_domain }}, whereas PayPal transactions will take the user to http://www.paypal.com and then send them back to your site after they've paid.</p>
{% endblock %}

{% block content %}
{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}
<form method="POST">
{% if form.tax_rate.errors %}
{{ form.tax_rate.errors }}
{% endif %}
<label>{{ form.tax_rate.label }}: {{ form.tax_rate }}%</label>
<label>{{ form.require_payment }} {{ form.require_payment.label }}</label>
{% if form.payment_type.errors %}
{{ form.payment_type.errors }}
{% endif %}
{{ form.payment_type.label_tag }}
{{ form.payment_type }}
<div id="auth_creds">
<label>{{ form.auth_net_api_login.label }} {{ form.auth_net_api_login }}</label>
<label>{{ form.auth_net_api_key.label }} {{ form.auth_net_api_key }}</label>
<label>Select the credit cards that you accept:</label>
<ul id="credit-cards">
    <li>{{ form.takes_amex }} <img src="{{ MEDIA_URL }}img/Card - AmEx_32x32.png" /></li>
    <li>{{ form.takes_discover }} <img src="{{ MEDIA_URL }}img/Card - Discover_32x32.png" /></li>
    <li>{{ form.takes_mc }} <img src="{{ MEDIA_URL }}img/Card - Mastercard_32x32.png" /></li>
    <li>{{ form.takes_visa }} <img src="{{ MEDIA_URL }}img/Card - Visa_32x32.png" /></li>
</ul>
</div>
<div id="paypal_creds">
<label>{{ form.paypal_email.label }} {{ form.paypal_email }}</label>
</div>
<div class="clear"></div>
<div class="save-row clearfix">
<a class="cancel" href="{% url dashboard_orders %}">Cancel</a>
<input type="submit" value="Save" class="submit buttonTop" />
</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
var radioMap = {
    "1": "#paypal_creds",
    "2": "#auth_creds"
};
$(function () {
    $("#paypal_creds,#auth_creds").hide();
    currentRadioVal = $(":radio:checked").val(); 
    if (currentRadioVal) {
        $(radioMap[currentRadioVal]).show();
    }
    $(":radio").change(function() {
        $("#paypal_creds,#auth_creds").hide();
        $(radioMap[$(this).val()]).show();
    });
});
</script>
{% endblock %}
