{% extends 'dashboard/orders/home.html' %}

{% block extrahead %}
{{ form.media }}
<style>
p span {
background-image:url(http://openlayers.org/api/2.8/theme/default/img/editing_tool_bar.png);
background-repeat:no-repeat;
height:23px;
width:23px;
display:inline-block;
}
p .olControlDrawFeaturePolygonItemInactive {
background-position:-26px 0;
}
#id_delivery_minimum {width:45px;}
#id_eod_buffer, #id_lead_time, #id_delivery_lead_time {width:25px;}
</style>
{% endblock %}

{% block body-class %}{{ block.super }}order-settings{% endblock %}

{% block h2 %}
Edit your online ordering options
{% endblock %}

{% block help %}
<p>Check off the ordering options that you want to offer.  Make sure to fill in your minimum order for deliveries and your delivery area if you offer delivery orders.</p>
<p>To mark your delivery area on the map, click on the <span class="olControlDrawFeaturePolygonItemInactive"></span> tool and click on the map to draw.  When you have completed an area, double-click to finish.  You may draw as many different areas as you like.</p>
{% endblock %}

{% block content %}

<form method="POST" action=".">
{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}
<h3>What sort of orders will you take online?</h3>
{{ form.dine_in }} {{ form.dine_in.label }}
{{ form.takeout }} {{ form.takeout.label }}
{{ form.delivery }} {{ form.delivery.label }}
<label>Dine-in/takeoout orders must be placed {{ form.lead_time }} minutes in advance {% if form.lead_time.errors %}{{ form.lead_time.errors }}{% endif %}</label> 
<label for='eod_buffer'>Stop taking orders {{ form.eod_buffer }} minutes prior to closing {% if form.eod_buffer.errors %} {{ form.eod_buffer.errors }} {% endif %}</label>
<div id="delivery-options">
<h4>Delivery options</h4>
<label id="delivery-minimum">{{ form.delivery_minimum.label }} {{ form.delivery_minimum }} {% if form.delivery_minimum.errors %} {{ form.delivery_minimum.errors }} {% endif %}</label>
<label>Delivery orders must be placed {{ form.delivery_lead_time }} minutes in advance {% if form.delivery_lead_time.errors %}{{ form.delivery_lead_time.errors }}{% endif %}</label> 
</div>
<h3>How do you want to receive orders?</h3>
{% if form.receive_via.errors %}
{{ form.receive_via.errors }}
{% endif %}
{{ form.receive_via }}
<label id="delivery-email">{% if form.email.errors %} {{ form.email.errors }} {% endif %}<br />{{ form.email.label }} {{ form.email }} </label>
<label id="delivery-fax">{% if form.fax.errors %} {{ form.fax.errors }} {% endif %}<br />{{ form.fax.label }} {{ form.fax }} </label>
<h3>Delivery area</h3>
{{ form.delivery_area }}
<div class="clear"></div>
<div class="save-row clearfix">
<a class="cancel" href="{% url dashboard_orders %}">Cancel</a>
<input type="submit" value="Save" class="submit buttonTop" />
</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    if ($("#id_delivery").attr("checked")) {
        $("#delivery-options").show();
    } else {
        $("#delivery-options").hide();
    }
    if ($("input[name='receive_via']:checked").val() == 1) {
        $("#delivery-fax").hide();
    } else {
        $("#delivery-email").hide();
    }
    $("a.submit").click(function () {
        $("form").submit();
    });
    $("#id_delivery").click(function () {
        if ($(this).attr("checked")) {
            $("#delivery-options").show();
        } else {
            $("#delivery-options").hide();
        }
    });
    $("input[name='receive_via']").click(function () {
        if ($(this).val() == 1) {
            $("#delivery-email").show();
            $("#delivery-fax").hide();
        } else {
            $("#delivery-fax").show();
            $("#delivery-email").hide();
        }
    });
});
</script>
{% endblock %}

