{% extends 'dashboard/base.html' %}

{% block extrahead %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/js/core.js"></script>
    <script type="text/javascript" src="/media/js/SelectBox.js"></script>
    <script type="text/javascript" src="/media/js/SelectFilter2.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/css/widgets.css" />
{% endblock %}

{% block content %}
<h1>{% if form.initial|length %}Edit{% else %}Create a new{% endif %} blast</h1>
<div class="grid_5 alpha">
<form method="POST" action=".">
{{ form.as_p }}
</form>
</div>
<div class="grid_7 omega">
<p>Blasts are delivered by fax or e-mail, depending on the individual subscriber's preference.</p>
</div>
<div class="clear"></div>
<a class="buttonTop last" href="{% url dashboard_marketing %}">Cancel</a>
<a class="buttonTop submit" href="#">Save</a>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function () {
    $("a.submit").click(function () {
        SelectBox.select_all('id_subscribers_to');
        $("form").submit();
    });
});
</script>
{% endblock %}

