<!DOCTYPE html>
<html lang="en" {% block namespace %}{% endblock %}>
<head>
    <meta charset="utf-8" />
    <title>{{ site.name }} {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/text.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/dashboard.css" />
    <!--[if IE]>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen" charset="utf-8"></link>
    <![endif]--> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    {% block extrahead %}
    {% endblock %}
</head>
<body class="{% block body-class %}{% endblock %}">
    <div class="wrapper">
        <div id="menuWrap">
            <div class="container_12 clearfix">
            	<div id="menu" class="grid_8 push_1">
               	 	<h1>{{site.name}} Dashboard</h1>
					<ul class="menu">
	                    <li><a class="restaurant" href="{% url dashboard_menu %}">Restaurant</a></li>
	                    <li><a class="site" href="{% url dashboard_content %}">Site</a></li>
	                    <li><a class="marketing" href="{% url dashboard_marketing %}">Marketing</a></li>
	                    <li><a class="orders" href="{% url dashboard_orders %}">Online Ordering</a></li>
	                    <li><a class="account" href="{% url account_home %}">Account</a></li>
	                </ul>
                </div>
                <div id="search" class="grid_1 push_3">
                	<ul class="menu">
	                    <li><a class="lightlink" href="{% url auth_logout %}">Logout</a></li>
	                </ul>
                </div>
            </div> 
            
        </div>
        <div id="content" class="container_12 clearfix">
			
            <div id="main" class="grid_10 push_1">
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
                </ul>
            {% endif %}
                <div id="submenu" class="grid_10 alpha">
                <ul class="menu">
                    {% block submenu %}
                    {% endblock %}
                </ul>
                </div>
            {% block content %}

                <h1>Dashboard</h1>
                <div class="grid_5 alpha">
                    <h2>Current specials</h2>
                    <ul>
                    {% for special in specials %}
                        <li><a href="{% url dashboard_edit_item special.id %}">{{ special }}</a></li> 
                    {% empty %}
                        <li>You currently have no specials. <a href="{% url dashboard_menu %}">Manage your menu</a></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="grid_5 omega">
                    <h2>Marketing blasts</h2>
                    <ul>
                    {% for update in updates %}
                        <li><a href="">{{ update }}</a></li> 
                    {% empty %}
                        <li>You currently have no blasts scheduled. <a href="{%  url dashboard_marketing %}">Edit marketing settings</a></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endblock %}
            </div>
        </div>
    <div class="shim"></div>
    </div>
    <div class="footer">
        <div class="container_12">
            <address>{{ site.contact }}</address>
            <p>Powered by <a class="lightlink" href="http://www.takeouttiger.com">Takeout Tiger</a></p> 
        </div> 
    </div>
    <script type="text/javascript">
    $(function () {
        $("ul.messages").delay(5000).slideUp();
    });
    </script>
    {% block js %}
    {% endblock %}
</body>
</html>

