{% extends 'tiger/base.html' %}

{% block title %}Restaurant Login{% endblock %}

{% block content %}
<h2>Restaurant login</h2>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post" action="{% url auth_login %}">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<a style="float:right;" href="{% url password_reset %}">Forgot your password?</a>
<div class="clear"></div>
{% endblock %}
